Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: trailing-whitespace
      exclude: '^.*\.(tsv|json|svg)'
    - id: end-of-file-fixer
      exclude: '^.*\.(tsv|json|svg)'
    - id: check-yaml
    - id: check-added-large-files

  - repo: local
    hooks:
    - id: dependencies
      name: Check whether requirements/*.txt are up-to-date
      entry: make update_requirements
      language: system
      files: poetry.lock
    - id: black
      name: Black formatter
      entry: poetry run black --check
      language: system
      types: [python]

remove forgotten debug print
  config/settings/base.py
Due: black

fix one more value due to vuetify 2.3 upgrade
  design/ui/src/pages/SidePanel.vue
Due: none

implement history-mode for fetching and displaying sushifetchattemps
  apps/sushi/models.py
  apps/sushi/views.py
  design/ui/src/components/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/FetchAttemptModeFilter.vue
  design/ui/src/pages/SushiFetchAttemptsPage.vue
Due: black

fix integrity error during import of titles with whitespace in ISBN - normalization of ISBN was done too late
  apps/logs/logic/data_import.py
  apps/logs/logic/validation.py
  apps/publications/tests/test_title_manager.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black

update package-lock after cleanup
  design/ui/package-lock.json
Due: none

add history mode filter to sushifetchattempt admin; implement custom filter methods for sushifetchattempt querysets as well as the manager
  apps/sushi/admin.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushfetchattempt_model.py
Due: black

add storage of credentials version into SushiFetchAttempt - refs #44
  apps/nigiri/tests/test_fetching.py
  apps/sushi/migrations/0028_sushifetchattempt_credentials_version_hash.py
  apps/sushi/models.py
Due: black

add version_hash attribute to the SushiCredentials object
  apps/nigiri/tests/test_fetching.py
  apps/sushi/migrations/0029_sushicredentials_version_hash.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushicredentials_model.py
Due: black

fix hash computation in SushiCredentials migration implement different modes for fetching stats about Sushi attempts add the different modes into UI
  apps/organizations/tests/conftest.py
  apps/sushi/migrations/0029_sushicredentials_version_hash.py
  apps/sushi/tests/test_views.py
  apps/sushi/urls.py
  apps/sushi/views.py
  design/ui/src/pages/SushiFetchAttemptsPage.vue
  test_coverage.sh
Due: black

implement utility function for finding holes in Counter data - naive version with many queries for now
  apps/sushi/logic/fetching.py
  apps/sushi/tests/test_logic_fetching.py
  apps/sushi/tests/test_views.py
Due: black

add code to retry holes in data in case the credentials have been updated since the last attempt - refs #44
  apps/sushi/logic/fetching.py
  apps/sushi/tests/test_logic_fetching.py
Due: black

implement sushi retry after sushi credentials have changed using celery tasks - refs #44 use priorities based transport strategy for celery
  apps/sushi/tasks.py
  apps/sushi/tests/test_logic_fetching.py
  config/settings/base.py
Due: black

black reformat one file
  apps/sushi/logic/fetching.py
Due: black

Fix filename generation for sushi fetch attempts (internal_id=None)
  apps/sushi/models.py
  apps/sushi/tests/conftest.py
Due: black

make organization.ext_id nullable
  apps/organizations/migrations/0015_nullable_ext_id.py
  apps/organizations/models.py
  apps/organizations/tests/test_api.py
Due: black

integrate sentry into production settings
  config/settings/base.py
  config/settings/production.py
Due: black

nigiri: fix a situation when there is a valid header, no error, no warning and empty data
  apps/nigiri/client.py
  apps/nigiri/counter5.py
  apps/nigiri/tests/test_counter5.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushi_fetching.py
  test-data/counter5/no_data.json
Due: black

modify the credentials_version_hash migration to create hashes for recent attempts
  apps/sushi/migrations/0028_sushifetchattempt_credentials_version_hash.py
Due: black

make it more obvious that the date selector is a selector :)
  design/ui/src/components/SelectedDateRangeWidget.vue
Due: none

build test image only on master branch
  .gitlab/test-image.yml
Due: none

add precommit guard against pytest.mark.now
  .pre-commit-config.yaml
Due: none

clean up pytest.mark.now
  apps/deployment/tests/test_api.py
  apps/sushi/tests/test_views.py
Due: black

fix new sushifetchattempts not being accessible through the API as they lacked version_hash; fix permissions for fetch attempt creation
  apps/sushi/models.py
  apps/sushi/tests/test_views.py
  apps/sushi/urls.py
  apps/sushi/views.py
Due: black

remove mark.now from test
  apps/sushi/tests/test_views.py
Due: black

add missing pytest fixture; fix the sushifetchattempt api test for this branch
  apps/sushi/tests/conftest.py
  apps/sushi/tests/test_views.py
Due: black

Configure Sentry environment and release
  .env.example
  config/settings/base.py
Due: black

Make admin url configurable via CELUS_ADMIN_SITE_PATH env variable
  apps/core/tests/test_admin.py
  config/settings/base.py
  config/urls.py
  design/ui/src/pages/ManagementPage.vue
  design/ui/src/store/index.js
  poetry.lock
  pyproject.toml
  pytest.ini
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black

docker: Added custom celery and celery-beat entrypoints
  Dockerfile
  docker/docker-compose.yml
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery.py
  docker/env.list
Due: black

docker: use threading pool for celery (this should spare some memory)
  docker/entrypoint-celery.py
Due: black

clean up the output from the jupyter notebook for demo preparation
  prepare_demo.ipynb
Due: none

Sentry release should have a prefix + remove unknown from url
  .gitlab-ci.yml
  .gitlab/sentry.yml
  config/settings/base.py
Due: black

change the way selection of report types and charts is displayed
  design/ui/src/components/ChartTypeSelector.vue
  design/ui/src/components/CounterChartSet.vue
  design/ui/src/locales/charts.yaml
Due: none

tune up width of report type and chart selectors; make it possible to change the widget for chart selector by a prop
  design/ui/src/components/APIChart.vue
  design/ui/src/components/ChartTypeSelector.vue
  design/ui/src/components/CounterChartSet.vue
Due: none

If ERMS url is incorrect log warning and return empty list
  apps/erms/api.py
  apps/erms/tests/conftest.py
  apps/erms/tests/test_erms.py
  config/settings/base.py
Due: black

fix logout button not being always visible - use project setting to decide if password login is used
  apps/core/tests/test_api.py
  config/settings/base.py
  design/ui/src/pages/UserPage.vue
  design/ui/src/store/index.js
  design/ui/src/store/modules/login.js
Due: black

remove ERMS related celery tasks from UI when ERMS is not used
  config/settings/base.py
  design/ui/src/pages/ManagementPage.vue
Due: black
