Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black

dependencies:
  name: Check whether requirements/*.txt are up-to-date
  entry: make update_requirements
  language: system

black:
  name: Black formatter
  entry: poetry run black --check
  language: system

allow import of api_key directly from csv file (not only in extra_attrs field)
  apps/sushi/logic/data_import.py
Due: black

make it possible to load localized names from organizations csv
  apps/organizations/management/commands/create_organizations_from_csv.py
Due: black

fix chaning language from UI not being properly stored
  design/ui/src/pages/StandardLayout.vue
Due: none

use URL or url column when reading credentials from CSV
  apps/sushi/logic/data_import.py
Due: black

several fixes and improvements in the sushi monthly review - properly show icon for untried credentials in stats; add pointer cursor to clickable icons; clean up the detail dialog after closing
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: none

handle non-200 http status code in sushi responses and extract potential sushi exceptions - fixes #137
  apps/logs/logic/attempt_import.py
  apps/nigiri/client.py
  apps/nigiri/counter5.py
  apps/nigiri/tests/test_sushi5.py
  apps/sushi/migrations/0035_sushifetchattempt_http_status_code.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushi_fetching.py
  test-data/counter5/naked_error_3000.json
  test-data/counter5/no_json.txt
Due: black

add prettier as a dev dependency for javascript linting
  design/ui/package-lock.json
  design/ui/package.json
Due: none

fix sushi edit dialog - changes in selected report types were not reflected in subsequent test - fixes #140
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
Due: none

fix recache not to use caches made in old django versions; add management command to update old caches to new django - fixes #139
  apps/recache/management/__init__.py
  apps/recache/management/commands/__init__.py
  apps/recache/management/commands/refresh_recache_from_older_django.py
  apps/recache/migrations/0006_query_hash_unique_with_django_version.py
  apps/recache/models.py
  apps/recache/tasks.py
  apps/recache/tests/test_models.py
  apps/recache/tests/test_util.py
Due: black

do not show sushi 3030 as an error, but as an empty green circle - fixes #142
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/libs/attempt-state.js
Due: none

update the sushi wizard to include current version of screenshots and button labels - fixes #134
  design/ui/src/assets/sushi_credentials-enable.png
  design/ui/src/assets/sushi_credentials-test.png
  design/ui/src/components/help/FirstSushiHelpWidget.vue
Due: none

make it possible to get a tabular export for title interest view
  apps/logs/views.py
  apps/publications/views.py
Due: black

Retry interval updates
  apps/sushi/logic/fetching.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_sushfetchattempt_model.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black

refactor sushi.tests.test_sushifetchattempt_model to use test_fixtures
  apps/sushi/tests/test_sushfetchattempt_model.py
  test_fixtures/scenarios/basic.py
Due: black

Export platforms and credentials for knowledgebase
  apps/publications/management/commands/export_platforms.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushicredentials_model.py
Due: black

do not allow manual harvesting for current month - refs #135
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
Due: none

fix: the button 'start test' on sushi test page is too small for the text when cs locale is used - refs #135
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
Due: none

add library for confirmation dialogs; fix: sushi credentials edit dialog delete action should have confirmation dialog - refs #135
  design/ui/package-lock.json
  design/ui/package.json
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/locales/dialog.yaml
  design/ui/src/main.js
Due: none

add toggle for disabled credentials to be shown in the mohtly sushi overview - refs #135
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: black

do not allow selection of unfinished month in monthly sushi overview when using the arrows to change the month - refs #135
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: none

update celus version in config files, add Stepan to authors
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

update changelog for release 2.3.0
  CHANGELOG.md
Due: none

add prettier to pre-commit config
  .pre-commit-config.yaml
Due: none

limit prettier to design directory only
  .pre-commit-config.yaml
Due: none

run prettier on all relevant files
  design/ui/README.md
  design/ui/public/index.html
  design/ui/public/maintenance.html
  design/ui/specs/CheckMark.spec.js
  design/ui/specs/SushiCredentialsEditDialog.spec.js
  design/ui/src/locales/charts.yaml
  design/ui/src/locales/en.json
  design/ui/src/locales/pub-types.yaml
Due: none

Added Knowledgebase app - used for import data from remote server
  .gitlab/run-tests.yml
  apps/core/migrations/0011_datasource_knowledgebase.py
  apps/core/models.py
  apps/knowledgebase/__init__.py
  apps/knowledgebase/admin.py
  apps/knowledgebase/apps.py
  apps/knowledgebase/migrations/0001_initial.py
  apps/knowledgebase/migrations/__init__.py
  apps/knowledgebase/models.py
  apps/knowledgebase/tasks.py
  apps/knowledgebase/templates/knowledgebase/platformimportattempt_changelist.html
  apps/knowledgebase/tests/test_models.py
  apps/knowledgebase/views.py
  apps/publications/admin.py
  apps/publications/migrations/0021_platform_knowledgebase.py
  apps/publications/models.py
  config/settings/base.py
Due: black

API point to query platfrom knowledgebase
  apps/core/tests/test_models.py
  apps/publications/serializers.py
  apps/publications/tests/test_api.py
  apps/publications/views.py
  test_fixtures/scenarios/basic.py
Due: black

update changelog - refs #148
  CHANGELOG.md
Due: none

prevent new credentials with title clashing with themselves after test - fixes #148
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

properly handle multi-month attempts in sushi month overview - fixes #149
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black

update changelog - refs #149
  CHANGELOG.md
Due: none

update changelog for release 2.3.1
  CHANGELOG.md
Due: none

bump version to 2.3.1
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

API which enables to create platforms for user
  .env.example
  apps/publications/models.py
  apps/publications/tests/test_api.py
  apps/publications/views.py
  config/settings/base.py
  config/settings/test.py
Due: black

Update pycounter to support JR1a and to fix JR1GOA
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

log pycounter error as warnings (won't create event in sentry)
  apps/sushi/models.py
Due: black

Exclude pycounter.sushi logger.error calls from sentry
  config/settings/base.py
Due: black

Update pycounter to fix BR3 reports
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

Set which report types are default for platform interest
  apps/logs/management/commands/define_interest_for_all_platforms.py
  apps/logs/migrations/0035_reporttype_default_platform_interest.py
  apps/logs/models.py
  apps/publications/apps.py
  apps/publications/models.py
  apps/publications/signals.py
  apps/publications/views.py
  test_fixtures/scenarios/basic.py
Due: black

Path conditions:
  dependencies: any of: poetry.lock
  black: any of: \.py$
