Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

dependencies:
  name: Check whether requirements/*.txt are up-to-date
  entry: make update_requirements
  language: system

black:
  name: Black formatter
  entry: poetry run black --check
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

change text in sushi test dialog when it is started as manual harvesting and not test dialog - fixes #160
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/src/locales/common.yaml
Due: none

remove obsolete v-layout from several components
  design/ui/src/components/SelectedDateRangeWidget.vue
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
Due: none

change how info about broken report types is serialized for credentials - refs #153
  apps/sushi/admin.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black, pytestnow

update requirements
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

implement support for broken credentials on the sushi management page - refs #153
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/src/components/sushi/SushiReportIndicator.vue
  design/ui/src/locales/common.yaml
  design/ui/src/locales/sushi.yaml
Due: black, pytestnow

- extend the sushi-credentials/count endpoint with broken counts - refs #153 - show warning indicator in the side panel if there are some broken credentials - refs #153
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/locales/notifications.yaml
  design/ui/src/pages/SidePanel.vue
  design/ui/src/store/modules/maintenance.js
Due: black, pytestnow

do not start downloads for broken reports in sushi test dialog - refs #153
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
Due: none

update changelog with broken credentials info - fixes #153
  CHANGELOG.md
Due: none

add subtitle to chart to distinguish normal and year-to-year charts
  design/ui/src/components/APIChart.vue
  design/ui/src/locales/charts.yaml
  design/ui/src/pages/DashboardPage.vue
Due: none

update echarts to version 4.9.0
  design/ui/package-lock.json
  design/ui/package.json
Due: none

change legend icons in charts to checkboxes to make it clear they can be selected
  design/ui/src/components/APIChart.vue
Due: none

do not allow already used title when editing existing credentials - fixes #159
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
Due: none

prepare release of version 2.5.0
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

change how recache renewal is scheduled to try to fix strange error
  apps/recache/util.py
Due: black, pytestnow

New scheduling strategy
  apps/knowledgebase/tests/__init__.py
  apps/nigiri/client.py
  apps/nigiri/error_codes.py
  apps/scheduler/__init__.py
  apps/scheduler/admin.py
  apps/scheduler/apps.py
  apps/scheduler/migrations/0001_initial.py
  apps/scheduler/migrations/__init__.py
  apps/scheduler/models.py
  apps/scheduler/tasks.py
  apps/scheduler/tests/__init__.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/views.py
  apps/sushi/models.py
  config/settings/base.py
  test_fixtures/entities/scheduler.py
Due: black, pytestnow

Add stats function to scheduler's fetch intention (to get processing status)
  apps/scheduler/models.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

prepare release 2.5.1
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

update js dependencies
  design/ui/package-lock.json
  design/ui/package.json
Due: none

fix prettier version for pre-commit
  .pre-commit-config.yaml
Due: none

lower prettier version for pre-commit
  .pre-commit-config.yaml
Due: none

remove lints from vue build prerequisites
  .gitlab/build-vue.yml
  .pre-commit-config.yaml
Due: none

disable prettier pre-commit
  .pre-commit-config.yaml
Due: none

disable prettier pre-commit
  .gitlab/build-vue.yml
  .pre-commit-config.yaml
Due: none

When processing scheduled intentions mark planned duplicates of successful attempts as processed
  apps/scheduler/migrations/0002_fetchintention_duplicit_of.py
  apps/scheduler/models.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

Scheduler and broken credentails integration
  apps/scheduler/models.py
  apps/scheduler/tasks.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

fix API chart not respecting selected date range - fixes #169
  design/ui/src/components/APIChart.vue
Due: none

prepare release 2.5.2
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

fix error in computation of cooldown period after sushi error 1020
  apps/sushi/admin.py
  apps/sushi/models.py
Due: black, pytestnow

update changelog
  CHANGELOG.md
Due: none

raise celus version to 2.5.3
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

Add Harvest model for scheduler
  apps/scheduler/migrations/0003_harvest.py
  apps/scheduler/models.py
  apps/scheduler/tests/test_models.py
  test_fixtures/entities/scheduler.py
Due: black, pytestnow

scheduler API implemented
  apps/api/urls.py
  apps/scheduler/migrations/0003_harvest.py
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/urls.py
  apps/scheduler/views.py
  apps/sushi/tests/test_views.py
  test_fixtures/entities/scheduler.py
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

Path conditions:
  dependencies: any of: poetry.lock
  black: any of: \.py$
  pytestnow: any of: \.py$
