Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

dependencies:
  name: Check whether requirements/*.txt are up-to-date
  entry: make update_requirements
  language: system

black:
  name: Black formatter
  entry: poetry run black --check
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

More error resilent C5 parsing in table format
  apps/logs/tests/test_manual_upload_counter.py
  apps/nigiri/counter5.py
  test-data/counter5/counter5_table_pr.csv
Due: black, pytestnow

Add ManualDataUpload to admin
  apps/logs/admin.py
Due: black, pytestnow

revert one erroneous change in last commit
  apps/recache/tests/test_util.py
Due: black, pytestnow

remove unused constant
  apps/recache/models.py
Due: black, pytestnow

do not cache queries with empty result which do not take too long; remove unused import in recache.util and fix tests patching this unused import
  apps/charts/tests/test_api.py
  apps/logs/tests/test_api.py
  apps/recache/models.py
  apps/recache/tests/test_util.py
  apps/recache/util.py
Due: black, pytestnow

pre-release requirements update - python
  poetry.lock
  requirements/develop.txt
Due: dependencies

pre-release requirements update - javascript
  design/ui/yarn.lock
Due: none

get rid of requirements files
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  docs/ansible/roles/celus/tasks/main.yaml
  pytest.ini
  requirements/DO_NOT_EDIT_FILES_GENERATED_BY_POETRY
  requirements/develop.txt
  requirements/docker.txt
  requirements/production.txt
Due: none

update celery from 5.0 to 5.1 and bump django-celery-results version
  poetry.lock
  pyproject.toml
Due: dependencies

add ansible task to get specific poetry version
  docs/ansible/roles/celus/tasks/main.yaml
Due: none

* update changelog for release 3.2.0 * change version number to 3.2.0
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

update django to 3.2 branch and django-cachalot for compatibility
  config/settings/base.py
  poetry.lock
  pyproject.toml
Due: dependencies, black, pytestnow

add script for adding fake sushi credentials for platforms/organizations which do not have C5 credentials
  apps/sushi/management/commands/create_fake_sushi_for_demo.py
Due: black, pytestnow

export API token prefixes to knowledgebase servers
  apps/knowledgebase/admin.py
  apps/knowledgebase/apps.py
  apps/knowledgebase/migrations/0003_routersyncattempt.py
  apps/knowledgebase/models.py
  apps/knowledgebase/signals.py
  apps/knowledgebase/tasks.py
  apps/knowledgebase/tests/test_models.py
  config/settings/base.py
  test_fixtures/entities/api.py
Due: black, pytestnow

fix task improperly assigned to queue 'normal' instead of 'celery'
  config/settings/base.py
Due: black, pytestnow

explicitly define the default celery queue name
  config/settings/base.py
Due: black, pytestnow

prepare release 3.2.1
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

fix ansible template for celery queues
  docs/ansible/roles/celus/templates/etc_confd_celery.j2
Due: none

hardcode exclusion of openpyxl==3.0.8 as the release was removed by the authors
  poetry.lock
  pyproject.toml
Due: dependencies

prepare release 3.2.2
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

Optimize harvest list qs by removing Subquery
  apps/scheduler/models.py
Due: black, pytestnow

Fix planning of scheduler triggering
  apps/scheduler/models.py
Due: black, pytestnow

fix invitations url broken by switch to dj-rest-auth
  apps/core/account.py
  apps/core/tests/test_api.py
Due: black, pytestnow

add expiration to all celery beat scheduled tasks
  config/settings/base.py
  config/settings/devel.py
Due: black, pytestnow

prepare release 3.2.3
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

add export to CELERYD_NODES in the ansible template
  docs/ansible/roles/celus/templates/etc_confd_celery.j2
Due: none

update project_branch in ansible settings
  docs/ansible/roles/celus/defaults/main.yml
Due: none

Remove `sushi-fetch-attempt-list` API endpoint
  apps/scheduler/filters.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/views.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  apps/sushi/urls.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/components/sushi/SushiFetchIntentionStateIcon.vue
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
  design/ui/src/pages/HarvestsPage.vue
  design/ui/src/pages/SidePanel.vue
  design/ui/src/router/index.js
  test_fixtures/entities/scheduler.py
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

add gitlab CI stuff for testing vue/js
  .gitlab-ci.yml
  .gitlab/build-vue.yml
  .gitlab/test-js.yml
Due: none

make finding /report in sushi URL more specific to avoid false positives
  design/ui/specs/sushi-validation.spec.js
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/libs/sushi-validation.js
Due: none

make js tests work again
  design/ui/jest.config.js
  design/ui/package.json
  design/ui/specs/CheckMark.spec.js
  design/ui/specs/SushiCredentialsEditDialog.spec.js-disabled
  design/ui/src/components/HarvestsTable.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/yarn.lock
Due: none

add django migrations to fill in platform.name using the platform.short_name
  apps/publications/migrations/0027_fill_platform_name.py
Due: black, pytestnow

use platform.short_name if platform.name is blank in UI
  design/ui/src/components/PlatformList.vue
  design/ui/src/components/PlatformSelectionWidget.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: none

switch identity logs from warning to debug
  apps/core/middleware.py
Due: black, pytestnow

prepare bugfix release 3.2.4
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

update requirements
  poetry.lock
Due: dependencies

Changed filtering on FetchIntention list
  apps/scheduler/filters.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/views.py
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
Due: black, pytestnow

fix sushi dashboard chart after switch to intentions from attempts
  apps/scheduler/views.py
  design/ui/src/components/charts/SushiStatusChart.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: black, pytestnow

Fix fetch-intentions list filter + optimize last_intentions() query
  apps/scheduler/filters.py
  apps/scheduler/models.py
  apps/scheduler/views.py
Due: black, pytestnow

add migration to fill queue_id for all intentions
  apps/scheduler/migrations/0012_fill_queue_id.py
Due: black, pytestnow

Path conditions:
  dependencies: any of: poetry.lock
  black: any of: \.py$
  pytestnow: any of: \.py$
