Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: dependencies
        name: Check whether requirements/*.txt are up-to-date
        entry: make update_requirements
        language: system
        files: poetry.lock
      - id: black
        name: Black formatter
        entry: poetry run black --check
        language: system
        types: [python]
      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

  - repo: https://github.com/prettier/prettier
    rev: "" # Use the sha or tag you want to point at
    hooks:
      - id: prettier

check which import_batch conflicts are resolvable by removal of older batch
  apps/logs/logic/conflicts.py
Due: black, pytestnow

add export queue to the start_celery.sh command
  start_celery.sh
Due: none

Revert "Update to upstream version of cachalot"
  apps/logs/logic/export.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow

update requirements
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

add FetchAttempt cleanup manage command
  apps/sushi/logic/cleanup.py
  apps/sushi/management/commands/cleanup_fetch_attempts.py
Due: black, pytestnow

add forgotten export queue to start_celery.sh
  start_celery.sh
Due: none

fix disabeling cachalot by migrating newer version of cachalot
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

Add `blank=True` for broken credentials fields
  apps/sushi/migrations/0040_broken_blank_true.py
  apps/sushi/models.py
Due: black, pytestnow

Don't use http auth for counter5 credentials
  apps/sushi/models.py
Due: black, pytestnow

Add migration which removes http auth from C5 credentials
  apps/sushi/migrations/0039_remove_http_auth_from_c5.py
Due: black, pytestnow

Per credentials downloads overview
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/views.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
  design/ui/src/components/HarvestsTable.vue
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsDataDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsOverviewHeaderWidget.vue
  design/ui/src/libs/data-state.js
  design/ui/src/locales/common.yaml
  test_fixtures/entities/logs.py
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

add fix for some user-orgs being erroneously deleted on ERMS sync
  apps/core/logic/sync.py
  apps/core/tests/test_sync.py
  apps/erms/sync.py
Due: black, pytestnow

tweak admin for PlatformTitle for speed and search capability
  apps/publications/admin.py
Due: black, pytestnow

create script for removing obsolete platform-titles
  apps/core/tests/test_sync.py
  apps/logs/logic/cleanup.py
  apps/logs/management/commands/cleanup_obsolete_platformtitles.py
  apps/logs/tests/test_cleanup.py
  apps/sushi/tests/test_logic_fetching.py
  apps/sushi/tests/test_views.py
Due: black, pytestnow

create script for removing obsolete platform-titles
  apps/logs/logic/cleanup.py
  apps/logs/management/commands/cleanup_obsolete_platformtitles.py
  apps/logs/tests/test_cleanup.py
Due: black, pytestnow

Using fixed upstream version of cachalot
  apps/logs/logic/export.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow

Better handling of sushi 3060 status code
  apps/sushi/models.py
  apps/sushi/tests/test_sushifetchattempt_model.py
Due: black, pytestnow

Creating and Editing platforms in GUI
  apps/publications/serializers.py
  apps/publications/tests/test_api.py
  apps/publications/views.py
  config/settings/base.py
  design/ui/package-lock.json
  design/ui/package.json
  design/ui/src/components/AddPlatformButton.vue
  design/ui/src/components/PlatformEditDialog.vue
  design/ui/src/components/PlatformList.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/pages/PlatformListPage.vue
  design/ui/src/store/index.js
Due: black, pytestnow

Use short_name as link in organization admin
  apps/organizations/admin.py
Due: black, pytestnow

prefetch Platform source in Harvest view
  apps/scheduler/views.py
Due: black, pytestnow

rename FetchIntentio.retry_id to queue_id and set it pk in post_save
  apps/scheduler/admin.py
  apps/scheduler/migrations/0009_rename_retry_id_to_queue_id.py
  apps/scheduler/models.py
  apps/scheduler/signals.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

Optimize List Harvest API
  apps/organizations/serializers.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/views.py
Due: black, pytestnow

Optimize Harevest queries
  apps/scheduler/models.py
  apps/scheduler/tests/test_models.py
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

Show fix of retried FetchIntentions
  design/ui/src/libs/intention-state.js
Due: none

Display previous Attempt for FetchIntention
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
  design/ui/src/libs/intention-state.js
Due: black, pytestnow

Add start_date and end_date to Harvest detail fetch intentions table
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
Due: none

resolvereporting showstoppers
  apps/export/models.py
  apps/export/tests/test_flexibledataexport.py
  apps/logs/logic/queries.py
  apps/logs/migrations/0043_flexireport_accesslevel_ownership.py
  apps/logs/models.py
  apps/logs/tests/test_api.py
  apps/logs/tests/test_flexibledataslicer.py
  apps/logs/tests/test_models.py
  apps/logs/views.py
  design/ui/src/components/reporting/FlexiTableEditor.vue
  design/ui/src/components/reporting/FlexiTableOutput.vue
Due: black, pytestnow

fix error when removing search text using the x symbol on sushi management page
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
Due: none

small string contact fix
  apps/sushi/management/commands/load_platform_report_table.py
Due: black, pytestnow

fix report types not appearing when editing sushi credentials (it was caused by a watcher for counterVersion)
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

split manual harvesting into individual months
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/src/libs/dates.js
Due: none

show harvest overview to org admins as well
  design/ui/src/pages/SidePanel.vue
Due: none

only allow one month selection when testing sushi credentials
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
Due: none

distinguish between json and CSV based COUNTER readers based on file content
  apps/logs/logic/attempt_import.py
  apps/logs/models.py
  apps/logs/tests/test_attempt_import.py
  apps/logs/tests/test_custom_import.py
  apps/logs/tests/test_manual_upload_counter.py
  apps/sushi/models.py
Due: black, pytestnow

Improve scheduler admin
  apps/scheduler/admin.py
  apps/scheduler/tests/test_api.py
Due: black, pytestnow

When 2010 sushi code is recieved mark entire credentials as broken
  apps/nigiri/error_codes.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushifetchattempt_model.py
Due: black, pytestnow

Fix Automatic harvest scheduling
  apps/core/logic/dates.py
  apps/scheduler/models.py
  apps/scheduler/signals.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

New system of auto harvests should be turned on by default
  config/settings/base.py
Due: black, pytestnow
