Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: dependencies
        name: Check whether requirements/*.txt are up-to-date
        entry: make update_requirements
        language: system
        files: poetry.lock
      - id: black
        name: Black formatter
        entry: poetry run black --check
        language: system
        types: [python]
      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

  - repo: https://github.com/prettier/prettier
    rev: "" # Use the sha or tag you want to point at
    hooks:
      - id: prettier

add support for http proxy to celus client
  apps/nigiri/client.py
  apps/nigiri/tests/test_proxy.py
Due: black, pytestnow

prepare release 3.2.5
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

Making Harvests, SushiFetchAttempts and FetchIntentions readonly in admin
  apps/scheduler/admin.py
  apps/sushi/admin.py
Due: black, pytestnow

remove unused usage histogram from dashboard page
  design/ui/src/pages/DashboardPage.vue
Due: none

fix memory requirement of migration sushi/0045
  apps/logs/management/commands/import_counter5.py
  apps/sushi/migrations/0045_fetchattempt_statemachine.py
Due: black, pytestnow

Make parsing of downloaded C4 more error prune
  apps/nigiri/client.py
  apps/nigiri/error_codes.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushi_fetching.py
  test-data/counter4/sushi_exception-with-extra-attrs.xml
Due: black, pytestnow

Fix constraint violation during the title creation
  apps/logs/logic/data_import.py
Due: black, pytestnow

Exclude testing credentials from brain exports
  apps/publications/management/commands/export_platforms.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushicredentials_model.py
  config/settings/base.py
Due: black, pytestnow

add stuff for analysis of model graph
  config/settings/devel.py
  poetry.lock
  pyproject.toml
Due: dependencies, black, pytestnow

add migration and test for splitting fetch intentions; also added missing dependency to one old migration
  apps/logs/logic/split_fetch_intentions.py
  apps/logs/migrations/0046_one_import_batch_per_month.py
  apps/logs/tests/test_fetch_intention_splitting_migration.py
  apps/sushi/migrations/0025_remove_counterreporttype_superseeded_by.py
Due: black, pytestnow

Use autocomplete fields for user organization assignment in admin
  apps/organizations/admin.py
Due: black, pytestnow

also remove titles when cleaning up database for a new installation
  apps/core/management/commands/cleanup_database.py
Due: black, pytestnow

Making platform list in credentials edit a bit smaller
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

apply the same font to platforms as is used for organizations; make the selection menu higher; add color to 'add platform' button
  design/ui/src/components/AddPlatformButton.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

add button to upload more files to the last step of manual data upload
  design/ui/src/pages/CustomDataUploadPage.vue
Due: none

add management command to remove titles without accesslogs
  apps/publications/management/commands/remove_unused_titles.py
  apps/publications/tests/test_api.py
  apps/publications/tests/test_commands.py
Due: black, pytestnow

Compare platform names with the list of all platforms when adding new platform
  design/ui/src/components/PlatformEditDialog.vue
Due: none

Update exporting platforms for brain
  apps/publications/management/commands/export_platforms.py
Due: black, pytestnow

implement delete mode in sushi overview dialog
  .pre-commit-config.yaml
  apps/core/filters.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/urls.py
  apps/scheduler/views.py
  design/ui/src/components/sushi/SushiCredentialsDataDialog.vue
Due: black, pytestnow

implement clickhouse support - closes #327
  .env.example
  .gitlab/run-tests.yml
  apps/charts/tests/test_api.py
  apps/conftest.py
  apps/core/context_managers.py
  apps/core/exceptions.py
  apps/core/middleware.py
  apps/logs/apps.py
  apps/logs/cubes.py
  apps/logs/logic/clickhouse.py
  apps/logs/logic/data_import.py
  apps/logs/logic/materialized_interest.py
  apps/logs/logic/materialized_reports.py
  apps/logs/management/commands/sync_with_clickhouse.py
  apps/logs/migrations/0047_importbatch_last_updated_clickhoused.py
  apps/logs/migrations/0048_importbatchsynclog.py
  apps/logs/models.py
  apps/logs/signals.py
  apps/logs/tasks.py
  apps/logs/tests/test_api.py
  apps/logs/tests/test_cleanup.py
  apps/logs/tests/test_clickhouse.py
  apps/logs/tests/test_data_deleting.py
  apps/logs/tests/test_flexibledataslicer.py
  apps/logs/tests/test_manualdataupload_authorization.py
  apps/logs/views.py
  apps/organizations/logic/queries.py
  apps/organizations/tests/conftest.py
  apps/publications/tests/test_api.py
  apps/publications/views.py
  apps/scheduler/signals.py
  config/settings/base.py
  config/settings/devel.py
  config/settings/test.py
  poetry.lock
  pyproject.toml
  pytest.ini
Due: dependencies, black, pytestnow

add more stuff into cleanup_database command including adjustment of Site record and creation of consortia management organization
  apps/core/management/commands/cleanup_database.py
Due: black, pytestnow

plan RouterSyncAttempt immediately after it is created
  apps/knowledgebase/models.py
Due: black, pytestnow

add support for igoring zero usage in advanced reporting
  apps/export/models.py
  apps/export/views.py
  apps/logs/logic/queries.py
  apps/logs/tests/test_flexibledataslicer.py
  apps/logs/views.py
  design/ui/src/components/reporting/FlexiTableEditor.vue
  design/ui/src/components/reporting/FlexiTableOutput.vue
  design/ui/src/components/reporting/StoredReportsTable.vue
  design/ui/src/libs/flexi-reports.js
  design/ui/src/locales/common.yaml
  design/ui/src/locales/reporting.yaml
  design/ui/src/pages/ExportOverviewPage.vue
  design/ui/src/pages/SidePanel.vue
Due: black, pytestnow

add badge to each month to indicate planned download
  design/ui/src/components/sushi/SushiCredentialsDataDialog.vue
  design/ui/src/components/sushi/SushiMonthStatusIcon.vue
Due: none

Set Attempts with 3030 and 3031 to NO_DATA status
  apps/sushi/migrations/0047_no_data_for_3031_and_3030.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushi_fetching.py
  design/ui/src/components/sushi/SushiCredentialsDataDialog.vue
  design/ui/src/libs/data-state.js
Due: black, pytestnow

add site.domain checks to prevent sending of invitations with incorrectly configured site
  apps/core/account.py
  apps/core/admin.py
  apps/core/tests/test_api.py
Due: black, pytestnow

fix disabling of cachalot in tests
  config/settings/test.py
Due: black, pytestnow

Add manage command which cleans orphaned files in sushi download directories
  apps/sushi/management/commands/remove_orphaned_files.py
  apps/sushi/tests/test_commands.py
  poetry.lock
  pyproject.toml
Due: dependencies, black, pytestnow

Clickhouse CI updates
  .env.example
  .gitlab/run-tests.yml
  apps/conftest.py
  apps/logs/cubes.py
  config/settings/base.py
  config/settings/test.py
Due: black, pytestnow

.gitignore edits
  .gitignore
Due: none

Make sure that `when_processed` is always set during sushi C4 processing
  apps/sushi/models.py
Due: black, pytestnow

handle non-sushi errors separately from sushi errors for C4
  apps/logs/logic/attempt_import.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushi_fetching.py
  test-data/counter4/4_JR1_missing_reports_tag.xml
Due: black, pytestnow

chore: Pin Sass version without Math.div warnings
  design/ui/package.json
  design/ui/yarn.lock
Due: none

fix: Add missing translations
  design/ui/src/components/help/FirstSushiHelpWidget.vue
Due: none

chore: Update JS packages
  design/ui/package.json
  design/ui/yarn.lock
Due: none

cancel_report btn created in advanced reporting
  design/ui/src/components/reporting/FlexiTableEditor.vue
  design/ui/src/components/reporting/FlexiTableOutput.vue
  design/ui/src/locales/reporting.yaml
Due: none

feat: Command to create organization API keys
  apps/organizations/management/commands/create_organization_api_keys.py
Due: black, pytestnow

reordering of User list_display
  apps/core/admin.py
Due: black, pytestnow

Enforce organization selection upon manual upload
  design/ui/src/pages/CustomDataUploadPage.vue
Due: none

Turn on sentry performance monitoring
  .env.example
  config/settings/base.py
Due: black, pytestnow
