Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: dependencies
        name: Check whether requirements/*.txt are up-to-date
        entry: make update_requirements
        language: system
        files: poetry.lock
      - id: black
        name: Black formatter
        entry: poetry run black --check
        language: system
        types: [python]
      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

  - repo: https://github.com/prettier/prettier
    rev: "" # Use the sha or tag you want to point at
    hooks:
      - id: prettier

Scheduler and automatic harvesting
  apps/scheduler/apps.py
  apps/scheduler/migrations/0004_automatic.py
  apps/scheduler/migrations/0005_fetchintention_date_constraint.py
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/signals.py
  apps/scheduler/tasks.py
  apps/scheduler/tests/conftest.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
  config/settings/base.py
  test_fixtures/entities/scheduler.py
Due: black, pytestnow

tweak tab display on platform overlap page
  design/ui/src/components/PlatformOverlapTable.vue
  design/ui/src/components/PlatformVsAllOverlapTable.vue
  design/ui/src/pages/PlatformOverlapAnalysisPage.vue
Due: none

* upgrade django to 3.0 * switch to upstream cachalot for django 3.x compatibility
  apps/logs/logic/export.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow

Disables registration urls when 'ALLOW_USER_REGISTRATION=False'
  apps/api/urls.py
  config/settings/test.py
Due: black, pytestnow

change how recache renewals are scheduled - instead of scheduling it on creation, use a celerybeat task to periodically check for renewable caches - fixes #170
  apps/charts/tests/test_api.py
  apps/core/management/commands/start_celery_task.py
  apps/logs/tests/test_api.py
  apps/organizations/tests/test_api.py
  apps/publications/tests/test_api.py
  apps/recache/models.py
  apps/recache/tasks.py
  apps/recache/tests/test_models.py
  apps/recache/tests/test_util.py
  apps/recache/util.py
  config/settings/base.py
  config/settings/devel.py
  start_celery.sh
Due: black, pytestnow

fix too short schedule for find_and_renew_first_due_cached_query_task - refs #170
  config/settings/base.py
Due: black, pytestnow

prepare release 2.5.4
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

Don't retry FetchAttempts created via FetchIntentions from sushi module
  apps/scheduler/migrations/0007_fetchintention_one_to_one_attempt.py
  apps/scheduler/models.py
  apps/sushi/models.py
Due: black, pytestnow

Set queue_id for FetchAttempt retries created via FetchIntentions
  apps/scheduler/migrations/0006_fetchintention_retry_id.py
  apps/scheduler/models.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

Use SET_NULL instead of CASCADE for optional DataSource relations
  apps/charts/migrations/0008_datasource_set_null.py
  apps/charts/models.py
  apps/core/migrations/0012_datasource_set_null.py
  apps/core/models.py
  apps/logs/migrations/0036_datasource_set_null.py
  apps/logs/models.py
  apps/organizations/migrations/0018_datasource_set_null.py
  apps/organizations/models.py
  apps/publications/migrations/0022_datasource_set_null.py
  apps/publications/models.py
Due: black, pytestnow

remove zero values from data in log-scale chart - fixes #171
  design/ui/src/components/PlatformInterestChart.vue
Due: none

make tabs on platform analysis page more obvious
  design/ui/src/pages/PlatformOverlapAnalysisPage.vue
Due: none

update changelog; prepare release 2.6.0
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

Add admin for scheduler models
  apps/scheduler/admin.py
  apps/scheduler/models.py
Due: black, pytestnow

Update UI to use scheduler harvesting API + fix planning in backend
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tasks.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/views.py
  config/settings/base.py
  design/ui/src/components/sushi/SushiCredentialsStatusWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/src/libs/dates.js
Due: black, pytestnow

Add fetching_data to FetchIntention retrieve API
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  design/ui/src/components/sushi/SushiCredentialsStatusWidget.vue
Due: black, pytestnow

change how custom sorting is done in javascript - fixes #176
  design/ui/src/components/PlatformOverlapTable.vue
  design/ui/src/components/PlatformVsAllOverlapTable.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/pages/ImportPreflightDataWidget.vue
Due: none

add test for full overlap
  apps/publications/tests/test_api.py
Due: black, pytestnow

prepare release 2.6.1
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

Alter sushi tasks in to be working with new scheduler properly
  apps/sushi/tasks.py
  apps/sushi/tests/test_logic_fetching.py
Due: black, pytestnow

Allow AUTOMATIC_HARVESTING_ENABLED option to be configurable from env
  config/settings/base.py
Due: black, pytestnow

Fix trigger_scheduler chaining
  apps/scheduler/tasks.py
Due: black, pytestnow

replace "CzechELib" with something more generic in UI text - fixes #180
  design/ui/src/pages/UserPage.vue
Due: none

- add the overlap pyramid view - add 'cancellation simulation' view - fixes #178
  apps/publications/tests/test_api.py
  apps/publications/urls.py
  apps/publications/views.py
  design/ui/src/components/CancelSimulationWidget.vue
  design/ui/src/components/OverlapPyramidWidget.vue
  design/ui/src/components/PlatformOverlapTable.vue
  design/ui/src/components/PlatformVsAllOverlapTable.vue
  design/ui/src/components/TitleTypeFilterWidget.vue
  design/ui/src/components/util/LoaderWidget.vue
  design/ui/src/components/util/SmallLoader.vue
  design/ui/src/libs/numbers.js
  design/ui/src/locales/common.yaml
  design/ui/src/pages/PlatformOverlapAnalysisPage.vue
Due: black, pytestnow

fix wrong use of | instead of ?? in javascript
  design/ui/src/components/charts/SushiStatusChart.vue
Due: none

- use credentials broken status to mark attempts in the sushi status chart - add info about broken credentials to the monthly sushi overview page - fixes #182
  design/ui/src/components/charts/SushiStatusChart.vue
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/libs/attempt-state.js
  design/ui/src/locales/sushi.yaml
Due: none

Add test of initial data loading to gitlab CI
  .gitlab/build-vue.yml
  .gitlab/run-tests.yml
Due: none

Implement Counter 5 IR report type downloading and processing
  apps/nigiri/client.py
  apps/nigiri/counter5.py
  apps/sushi/models.py
  data/initial-data.json
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

Remove signal which created default interest mapping from Platform
  apps/knowledgebase/models.py
  apps/logs/admin.py
  apps/publications/admin.py
  apps/publications/apps.py
  apps/publications/signals.py
  apps/publications/views.py
Due: black, pytestnow

add dashboard card with sushi overview - fixes #184
  design/ui/src/components/sushi/SushiStatsDashboardWidget.vue
  design/ui/src/pages/DashboardPage.vue
  design/ui/src/pages/SushiCredentialsManagementPage.vue
Due: none

#179 implement password change
  design/ui/src/components/account/PasswordChangeDialog.vue
  design/ui/src/pages/UserPage.vue
  design/ui/src/store/modules/login.js
Due: none

Implement Counter 4 MR1 report type processing
  apps/nigiri/counter4.py
  apps/sushi/models.py
  data/initial-data.json
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
  test_fixtures/scenarios/basic.py
Due: dependencies, black, pytestnow

change the default Celus logo for a new one
  design/ui/src/assets/celus-plus-dark.svg
  design/ui/src/assets/celus-plus-white-vertical-nobg.svg
  design/ui/src/pages/StandardLayout.vue
Due: none

Add tests for retries scheduling + Fix `not_before` assignment
  apps/scheduler/models.py
  apps/scheduler/signals.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

implement API + UI for harvests
  apps/core/models.py
  apps/logs/logic/data_import.py
  apps/scheduler/admin.py
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/urls.py
  apps/scheduler/views.py
  design/ui/src/components/HarvestsTable.vue
  design/ui/src/components/sushi/SushiCredentialsStatusWidget.vue
  design/ui/src/locales/common.yaml
  design/ui/src/pages/SushiFetchAttemptsPage.vue
  design/ui/src/store/index.js
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

only show the 'attempts overview' tab to superusers and consortia managers
  design/ui/src/pages/SushiFetchAttemptsPage.vue
Due: none
