Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: trailing-whitespace
      exclude: '^.*\.(tsv|json|svg)'
    - id: end-of-file-fixer
      exclude: '^.*\.(tsv|json|svg)'
    - id: check-yaml
    - id: check-added-large-files

  - repo: local
    hooks:
    - id: dependencies
      name: Check whether requirements/*.txt are up-to-date
      entry: make update_requirements
      language: system
      files: poetry.lock
    - id: black
      name: Black formatter
      entry: poetry run black --check
      language: system
      types: [python]

Added a button which should cleanup unsuccessful fetch attempts
  design/ui/src/pages/SushiFetchAttemptsPage.vue
Due: none

Cleanup unsuccessful attempts confirmation dialog
  design/ui/src/components/sushi/SushiAttemptCleanupWidget.vue
  design/ui/src/pages/SushiFetchAttemptsPage.vue
Due: none

sushi attempt cleanup dialog - change the way success is shown in the dialog - ensure reload of data on re-display of the dialog - show progress bar when loading data into the dialog
  design/ui/src/components/sushi/SushiAttemptCleanupWidget.vue
  design/ui/src/pages/SushiFetchAttemptsPage.vue
Due: none

Cleanup attempts permissions
  apps/core/logic/url.py
  apps/core/models.py
  apps/core/permissions.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
  design/ui/src/pages/SushiFetchAttemptsPage.vue
  test_fixtures/entities/credentials.py
  test_fixtures/scenarios/basic.py
Due: black

Use test_fixtures in logs.tests.test_attempt_import
  apps/logs/tests/test_attempt_import.py
Due: black

added test for empty C4 JR1 reports
  apps/logs/tests/test_attempt_import.py
  test-data/counter4/counter4_jr1_empty.tsv
Due: black

Update pycounter to fix (StopIteration exceptions)
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

Build test image based on 'plus' branch and only if poetry.lock differs
  .gitlab/test-image.yml
Due: none

fix status always all green in sushi download dialog - GoodBadMark was not finished after splitting it from CheckMark - fixes #118
  design/ui/src/components/util/GoodBadMark.vue
Due: none

show sushi management to admins, not only superusers
  design/ui/src/pages/SidePanel.vue
Due: none

update js dependencies
  design/ui/package-lock.json
  design/ui/package.json
Due: none

update python requirements
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

lock black to version 19.10b0 to prevent reformatting in newer versions
  poetry.lock
  pyproject.toml
  requirements/develop.txt
Due: dependencies

load languages from backend; only show language selector if more than one language is active - refs #122
  config/settings/base.py
  design/ui/src/pages/StandardLayout.vue
  design/ui/src/store/index.js
Due: black

Alter behaviour of 3030 statuses for non-recent data
  apps/core/logic/dates.py
  apps/nigiri/client.py
  apps/sushi/migrations/0032_unschedule_3030.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushfetchattempt_model.py
  apps/sushi/tests/test_sushi_fetching.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
  test_fixtures/entities/counter_report_types.py
  test_fixtures/entities/fetchattempts.py
  test_fixtures/entities/platforms.py
  test_fixtures/entities/report_types.py
  test_fixtures/scenarios/basic.py
Due: dependencies, black

better monthly overview of SUSHI attempts - fixes #111:
  apps/sushi/views.py
  design/ui/src/components/sushi/IconButton.vue
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/libs/attempt-state.js
Due: black

use the sushi-attempt-state-icon to show state in sushi attempt list - fixes #125
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/libs/dates.js
  design/ui/src/locales/common.yaml
Due: none

fix filtering of successful in monthly view; precompute some stuff to make filtering faster - fixes #126
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: none

hide the sushi downloads page from non admins - fixes #127
  design/ui/src/pages/SidePanel.vue
Due: none

Cleanup for queued attempts
  apps/sushi/migrations/0033_sushifetchattempt_queue_id.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushfetchattempt_model.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black

sushi small UI improvements - fixes #129:
  design/ui/src/components/help/FirstSushiHelpWidget.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/locales/sushi.yaml
Due: none

Add function which converts celus report type codes to pycounter report type codes
  apps/nigiri/client.py
Due: black

Update pycounter to version that should handle JR1GOA more correctly
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

Update pycounter to fix Totals detection for C4 reports
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

add version 2.2.0 to changelog and other places
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

Add missing bdd tag to gitlab CI sentry job
  .gitlab/sentry.yml
Due: none

Fix atomic in SushiFetchAttempt.retry
  apps/sushi/models.py
Due: black

prepare fix release 2.2.1
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

make SushiFetchAttempt.data_file field support longer filenames
  apps/sushi/migrations/0034_longer_data_file_field.py
  apps/sushi/models.py
Due: black

properly disconnect user and organization when it happens in ERMS - refs #133
  apps/core/logic/sync.py
  apps/core/tests/test_sync.py
Due: black

only use active languages when selecting default language for new user
  apps/core/migrations/0010_default_lang_change.py
  apps/core/models.py
Due: black

build test image only on master branch
  .gitlab/test-image.yml
Due: none

improve coverage report by excluding test files
  .coveragerc
  apps/activity/tests.py
Due: black

unmark forgotten test with 'now'
  apps/core/tests/test_sync.py
Due: black

add Celus version into the side panel - fixes #132
  design/ui/src/locales/common.yaml
  design/ui/src/pages/SidePanel.vue
  design/ui/src/store/index.js
  design/ui/vue.config.js
Due: none

update changelog
  CHANGELOG.md
Due: none

move css definition of .subdued to Main.vue for project-wide availability
  design/ui/src/components/PlatformCostList.vue
  design/ui/src/components/PlatformList.vue
  design/ui/src/components/SelectedDateRangeWidget.vue
  design/ui/src/pages/Main.vue
  design/ui/src/pages/SidePanel.vue
Due: none

temporarily re-enable sushi downloads for admins so that Vivien sees it :)
  design/ui/src/pages/SidePanel.vue
Due: none
