Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: trailing-whitespace
      exclude: '^.*\.(tsv|json|svg)'
    - id: end-of-file-fixer
      exclude: '^.*\.(tsv|json|svg)'
    - id: check-yaml
    - id: check-added-large-files

  - repo: local
    hooks:
    - id: dependencies
      name: Check whether requirements/*.txt are up-to-date
      entry: make update_requirements
      language: system
      files: poetry.lock
    - id: black
      name: Black formatter
      entry: poetry run black --check
      language: system
      types: [python]

fix two tests to work with different authentication scheme as well
  apps/logs/tests/test_api.py
Due: black

remove obsolete compiled js file
  apps/core/static/js/app.b9949770.js
Due: none

fix trailing whitespace found by pre-commit
  apps/api/templates/api/redoc.html
  docker/docker-compose.yml
  k8s/INSTALL.rst
Due: none

add dependencies lost when merging while requirement files were removed update poetry.lock during the process
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

mock-out celery from the tests for raw_data_export
  apps/logs/logic/export.py
  apps/logs/tests/test_api.py
Due: black

mock-out celery from the tests for hole finding
  apps/logs/tests/test_api.py
  apps/sushi/tests/test_logic_fetching.py
Due: black

add command to find and remove attempts for which associated files are missing
  apps/sushi/management/commands/find_missing_attempt_files.py
  apps/sushi/management/commands/retry_queued_sushi_attempts.py
  apps/sushi/tests/conftest.py
  apps/sushi/tests/test_commands.py
Due: black

update requirements
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

update urllib3 requirement
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

Disable cachalot for raw export query to prevent OOM errors in Redis
  apps/logs/logic/export.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black

add more info on errors to the raw export dialog component
  design/ui/src/components/RawDataExportWidget.vue
Due: none

add wrongly dropped django-rest-auth requirement
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

add wrongly dropped ijson requirement :/
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

update cachalot git revision after a rebase on upstream
  pyproject.toml
Due: none

update poetry.lock and requirements
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

update poetry.lock and requirements after merge
  poetry.lock
Due: dependencies

ManualDataUpload: fix str method when user is missing
  apps/logs/models.py
Due: black

WIP: refactor the basic app structure out of main to allow 'boot-up' screen without chart stuff being loaded before we are ready; implement logout; improve registration and login forms
  config/settings/devel.py
  design/ui/src/assets/celus-plus-white-vertical-nobg.svg
  design/ui/src/components/BootUpWidget.vue
  design/ui/src/components/LoaderWidget.vue
  design/ui/src/components/TopTenDashboardWidget.vue
  design/ui/src/components/account/LoginDialog.vue
  design/ui/src/pages/Main.vue
  design/ui/src/pages/StandardLayout.vue
  design/ui/src/pages/UserPage.vue
  design/ui/src/store/index.js
  design/ui/src/store/modules/login.js
Due: black

add tests for the user creation api
  apps/core/tests/test_api.py
  apps/sushi/tests/test_commands.py
  apps/sushi/tests/test_logic_fetching.py
Due: black

better validation of input in registration dialog
  design/ui/src/components/account/LoginDialog.vue
Due: none

make it possible to display register dialog instead of login by passing a GET param
  design/ui/src/components/account/LoginDialog.vue
Due: none

make organization.ext_id nullable
  apps/organizations/migrations/0015_nullable_ext_id.py
  apps/organizations/models.py
  apps/organizations/tests/test_api.py
  apps/organizations/views.py
Due: black

WIP: modify the login dialog to allow creation of account; add necessary requirements; for now very basic, barely functional - refs #78
  apps/api/urls.py
  config/settings/base.py
  config/settings/devel.py
  design/ui/package-lock.json
  design/ui/src/components/account/CreateAccountDialog.vue
  design/ui/src/components/account/LoginDialog.vue
  design/ui/src/pages/Main.vue
  design/ui/src/store/index.js
Due: black

WIP: only show logout button when password login is enabled
  design/ui/src/pages/UserPage.vue
  design/ui/src/store/modules/login.js
Due: none

WIP: make the user able to create an organization if user registration is allowed
  apps/organizations/serializers.py
  apps/organizations/tests/test_api.py
  apps/organizations/views.py
  config/settings/base.py
  design/ui/src/components/account/CreateAccountDialog.vue
  design/ui/src/components/account/CreateOrganizationDialog.vue
  design/ui/src/pages/Main.vue
  design/ui/src/store/index.js
Due: black

more work on api and ui for organization creation
  apps/organizations/tests/test_api.py
  design/ui/src/components/account/CreateOrganizationDialog.vue
  design/ui/src/store/index.js
Due: black

add forgotten allauth.socialaccount app
  config/settings/base.py
Due: black

finalize the create organization dialog; remove the URL field
  design/ui/src/components/account/CreateOrganizationDialog.vue
Due: none

propagate errors from backend to ui in register dialog only use one password prompt but add possibility to view password make it possible to switch back to login from registration
  design/ui/src/components/account/LoginDialog.vue
  design/ui/src/store/modules/login.js
Due: none

add email validation to sign-up dialog
  design/ui/src/components/account/LoginDialog.vue
Due: none

refactor sushi imports
  apps/logs/logic/attempt_import.py
  apps/nigiri/client.py
  apps/nigiri/counter4.py
  apps/nigiri/counter5.py
  apps/nigiri/tests/data/naked_errors.json
  apps/nigiri/tests/test_counter5.py
  apps/sushi/tests/conftest.py
Due: black

prepare test that shows an error in how sushi import is handled
  apps/logs/tests/conftest.py
  apps/sushi/tests/conftest.py
  apps/sushi/tests/data/C5_PR_test.json
  apps/sushi/tests/test_sushi_fetching.py
Due: black

Fix of find_missing_attempt_files command
  apps/sushi/management/commands/find_missing_attempt_files.py
Due: black

Test updates
  apps/logs/tests/data
  apps/logs/tests/test_data_import.py
  apps/nigiri/client.py
  apps/nigiri/counter5.py
  apps/nigiri/tests/data
  apps/nigiri/tests/test_counter5.py
  apps/sushi/models.py
  apps/sushi/tests/data
  apps/sushi/tests/test_sushi_fetching.py
  test-data/counter4/counter4_br2.tsv
  test-data/counter5/5_DR_ProQuestEbookCentral_exception.json
  test-data/counter5/5_TR_ProQuestEbookCentral.json
  test-data/counter5/5_TR_ProQuestEbookCentral_exception.json
  test-data/counter5/C5_PR_test.json
  test-data/counter5/counter5_tr_test1.json
  test-data/counter5/data_incorrect.json
  test-data/counter5/data_simple.json
  test-data/counter5/naked_error.json
  test-data/counter5/naked_errors.json
  test-data/custom/custom_data-2d-3x2x3-endate.csv
  test-data/custom/custom_data-2d-3x2x3-isodate.csv
  test-data/custom/custom_data-simple-3x3-endate.csv
  test-data/custom/custom_data-simple-3x3-isodate.csv
Due: black

use propper patching in test_logic_fetching
  apps/nigiri/tests/test_fetching.py
  apps/sushi/tests/test_logic_fetching.py
  apps/sushi/tests/test_sushicredentials_model.py
Due: black

customize the signup email and email confirmation link
  apps/core/account.py
  apps/core/templates/account/email/email_confirmation_signup_message.txt
  apps/core/templates/account/email/email_confirmation_signup_subject.txt
  apps/core/tests/test_api.py
  apps/organizations/tests/test_api.py
  apps/sushi/tests/test_sushi_fetching.py
  config/settings/base.py
  config/settings/devel.py
Due: black

Extend current user api with email verification status
  apps/core/models.py
  apps/core/serializers.py
  apps/core/tests/test_api.py
  apps/core/views.py
  config/settings/base.py
Due: black

Add api view to resend verification email
  apps/core/serializers.py
  apps/core/tests/test_api.py
  apps/core/urls.py
  apps/core/views.py
Due: black

add UI for email verification
  apps/core/account.py
  apps/core/tests/test_api.py
  design/ui/src/main.js
  design/ui/src/pages/Main.vue
  design/ui/src/pages/VerifyEmailPage.vue
  design/ui/src/router/index.js
Due: black

send email to admins when an user account is created
  apps/core/apps.py
  apps/core/signals.py
  apps/core/tasks.py
  apps/core/tests/test_api.py
  config/settings/devel.py
Due: black
