Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

dependencies:
  name: Check whether requirements/*.txt are up-to-date
  entry: make update_requirements
  language: system

black:
  name: Black formatter
  entry: poetry run black --check
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

fix error that caused all filters for explicit dimensions to be selected together
  design/ui/src/components/reporting/FlexiTableEditor.vue
Due: none

nicer list of reporting exports; fix locale problems in reporting editor
  design/ui/src/components/reporting/ExportOverviewTable.vue
  design/ui/src/components/reporting/FlexiTableEditor.vue
  design/ui/src/components/util/ExportMonitorWidget.vue
  design/ui/src/libs/flexi-reports.js
  design/ui/src/locales/common.yaml
  design/ui/src/mixins/reportTypes.js
Due: none

add search text in integer explicit dimensions in order to allow selection of YOP when more than 100 different values exist in the database
  apps/logs/logic/queries.py
  apps/logs/tests/conftest.py
  apps/logs/tests/test_flexibledataslicer.py
Due: black, pytestnow

When 1030 sushi code is received mark entire credentails as broken
  apps/sushi/models.py
  apps/sushi/tests/test_sushifetchattempt_model.py
Due: black, pytestnow

new sushi credentials have automatic harvesting turned on by default
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

Failed import updates
  apps/logs/tasks.py
  design/ui/src/libs/attempt-state.js
  design/ui/src/libs/intention-state.js
  design/ui/src/locales/sushi.yaml
Due: black, pytestnow

fix two tests after constraints change
  apps/logs/tests/test_interest_calculation.py
Due: black, pytestnow

fix db constraints of uniqueness in combination with source which might be null
  apps/logs/migrations/0044_better_source_related_constraints.py
  apps/logs/models.py
  apps/publications/migrations/0024_better_source_related_constraints.py
  apps/publications/models.py
  apps/sushi/migrations/0041_more_report_types.py
Due: black, pytestnow

update reqs and add pytest-xdist
  .gitlab/run-tests.yml
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

switch to upstream cachalog (again) after they fixed the bug with disabling cachalot
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

switch to yarn from npm
  .github/workflows/release.yaml
  .gitlab/build-vue.yml
  design/ui/README.md
  design/ui/package-lock.json
  design/ui/yarn.lock
Due: none

disable YOP filtering - it requires work that will be added later (refs #261)
  apps/logs/tests/test_models.py
  design/ui/src/components/DimensionKeySelector.vue
  design/ui/src/components/reporting/FlexiTableEditor.vue
Due: black, pytestnow

add default ordering to export overview table
  design/ui/src/components/reporting/ExportOverviewTable.vue
Due: none

apply ordering to output table before fetching report data
  design/ui/src/components/reporting/FlexiTableOutput.vue
Due: none

Fix exception which occurs during new platform creation
  apps/publications/tests/test_api.py
  apps/publications/views.py
Due: black, pytestnow

New platform small text updates
  design/ui/src/components/PlatformEditDialog.vue
Due: none

* add missing czech translation * clean up en text * add button for adding new report from report list
  design/ui/src/components/reporting/FlexiTableEditor.vue
  design/ui/src/components/reporting/StoredReportsTable.vue
  design/ui/src/locales/reporting.yaml
Due: none

Automatic harvest cron fix
  apps/scheduler/tasks.py
Due: black, pytestnow

fix queue name for recache renewal by removing the explicit assignment to 'normal' (should have been 'celery' anyway)
  config/settings/base.py
Due: black, pytestnow

prepare release 3.0.0
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

remove empty package-lock.json created by conflict resolution
  design/ui/package-lock.json
Due: none

Don't use cache based lock when fetching data via harvests
  apps/scheduler/models.py
Due: black, pytestnow

Wiping harvets in Django Admin (deletes harvests + all related data)
  apps/scheduler/admin.py
  apps/scheduler/models.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

explicitly set ALLOW_USER_CREATED_PLATFORMS for tests
  apps/publications/tests/test_api.py
Due: black, pytestnow

update migration to also handle materialized report types
  apps/logs/migrations/0045_dimension_int_to_str.py
  apps/logs/tests/test_migrations.py
Due: black, pytestnow

add data migration to convert int dimensions into text dimensions
  apps/logs/migrations/0045_dimension_int_to_str.py
  apps/logs/tests/test_migrations.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow

fix error in sorting of report output by implicit primary dimension
  apps/logs/logic/queries.py
  apps/logs/serializers.py
  apps/logs/tests/test_flexibledataslicer.py
  apps/logs/views.py
Due: black, pytestnow

properly load date filter from backend data in editor; add support for disabled into MonthEntry
  design/ui/src/components/reporting/FlexiTableEditor.vue
  design/ui/src/components/util/FromToMonthEntry.vue
  design/ui/src/components/util/MonthEntry.vue
Due: none

Move trigger_scheduler task to sushi queue
  config/settings/base.py
Due: black, pytestnow

add process_flexible_export_task into the export celery queue
  config/settings/base.py
Due: black, pytestnow

add support for process_flexible_export_task to start_celery_task management command
  apps/core/management/commands/start_celery_task.py
Due: black, pytestnow

update changelog for 3.0.1; update other places
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

fix bug in activation of organization filter when an organization is globally selected
  design/ui/src/components/reporting/FlexiTableEditor.vue
Due: none

update changelog
  CHANGELOG.md
Due: none

ignore primary_dimension when resolving possible dimension values - it speeds up title related queries by several orders of magnitude
  apps/logs/logic/queries.py
Due: black, pytestnow

do not use materialized report type with 0 record count
  apps/logs/logic/queries.py
  apps/logs/tests/test_materialized_reports.py
Due: black, pytestnow

prepare 3.0.2
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

add support for counter 5 IR_M1 report
  apps/logs/admin.py
  apps/nigiri/client.py
  apps/nigiri/counter5.py
  apps/sushi/migrations/0042_counterreporttype_code_update.py
  apps/sushi/models.py
  apps/sushi/views.py
Due: black, pytestnow

prepare release 3.0.3
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

Harvest list improvements
  apps/scheduler/admin.py
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/views.py
  design/ui/src/components/HarvestsTable.vue
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
Due: black, pytestnow

Path conditions:
  dependencies: any of: poetry.lock
  black: any of: \.py$
  pytestnow: any of: \.py$
