Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

dependencies:
  name: Check whether requirements/*.txt are up-to-date
  entry: make update_requirements
  language: system

black:
  name: Black formatter
  entry: poetry run black --check
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

prepare release 2.7.0
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

More resilent C4 xml error extraction
  apps/nigiri/client.py
  apps/nigiri/tests/test_counter4.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
  test-data/counter4/4_PR1_invalid_requestor.xml
Due: dependencies, black, pytestnow

fix detection of broken reports and credentials based on sushi exception code - fixes #187
  apps/sushi/models.py
Due: black, pytestnow

prepare release 2.7.1
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

update favicon to the new logo
  design/ui/public/favicon.ico
Due: none

Fix normalizing branch name during vue build
  .gitlab/build-vue.yml
Due: none

Upgrade Django to 3.1.3
  apps/charts/migrations/0009_jsonfield.py
  apps/charts/models.py
  apps/core/migrations/0013_jsonfield.py
  apps/core/models.py
  apps/knowledgebase/migrations/0002_jsonfield.py
  apps/knowledgebase/models.py
  apps/logs/migrations/0037_jsonfield.py
  apps/logs/models.py
  apps/organizations/migrations/0019_jsonfield.py
  apps/organizations/models.py
  apps/publications/migrations/0023_jsonfield.py
  apps/publications/models.py
  apps/sushi/migrations/0038_jsonfield.py
  apps/sushi/models.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow

Don't schedule FetchIntention with broken credentials or with broken/missing mapping.
  apps/scheduler/models.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

Add broken_credentials to Harvest API + optimize GET Harvest
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
Due: black, pytestnow

More resilent C5 json error extraction
  apps/nigiri/client.py
  apps/nigiri/counter5.py
  apps/nigiri/tests/test_sushi5.py
  test-data/counter5/naked_error_lowercase.json
Due: black, pytestnow

remove old favicon.png from old location and add a new one to new location
  apps/core/static/__do_not_remove__.txt
  apps/core/static/favicon.png
  design/ui/public/favicon.png
Due: none

platform overlap - pyramid tab * fix text on the overlap pyramid tab * show hint when no publication type is selected
  design/ui/src/components/CancelSimulationWidget.vue
  design/ui/src/components/OverlapPyramidWidget.vue
  design/ui/src/locales/common.yaml
  design/ui/src/pages/PlatformOverlapAnalysisPage.vue
Due: none

properly detect and show fetch intentions with broken credentials in the harvest detail dialog
  apps/core/management/commands/start_celery_task.py
  design/ui/src/components/HarvestsTable.vue
  design/ui/src/components/sushi/FetchIntentionStatusWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
Due: black, pytestnow

Display broken_credentials hint only when FetchIntention hasn't been processed yet
  design/ui/src/components/sushi/FetchIntentionStatusWidget.vue
Due: none

prepare release 2.7.2
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

- make it possible to platforms returned by /organization/xx/platform/ endpoint to only return used platforms - use it on platform list page and on overlap analysis pages
  apps/publications/tests/test_api.py
  apps/publications/views.py
  design/ui/src/components/CancelSimulationWidget.vue
  design/ui/src/components/OverlapPyramidWidget.vue
  design/ui/src/pages/PlatformListPage.vue
Due: black, pytestnow

update changelog
  CHANGELOG.md
Due: none

Periodically update harvest view
  design/ui/src/components/HarvestsTable.vue
Due: none

Redone scheduler locking
  apps/scheduler/migrations/0008_current_task.py
  apps/scheduler/models.py
  apps/scheduler/tasks.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/views.py
Due: black, pytestnow

Scheduler API changes
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/views.py
  design/ui/src/components/HarvestsTable.vue
Due: black, pytestnow

add better text info when no relevant titles are found - for both title list and list of multiplatform titles
  design/ui/src/components/TitleList.vue
  design/ui/src/pages/OverlapAnalysisPage.vue
Due: none

Use knowledgebase to update new credentials edit form
  apps/publications/serializers.py
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiReportIndicator.vue
  design/ui/src/locales/sushi.yaml
Due: black, pytestnow

Added hints during URL filling in credentials edit form
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiReportIndicator.vue
Due: none

Fix Harvest UI - `/api/scheduler/harvest/` returns pk(number) not entire intention(object)
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
Due: none

Celery upgrade to 5.0.2
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
  start_celery.sh
  start_celerybeat.sh
Due: dependencies

add new view for harvest intentions replacing the individual intentions widgets - fixes #190
  apps/scheduler/models.py
  apps/scheduler/views.py
  design/ui/src/components/HarvestsTable.vue
  design/ui/src/components/sushi/FetchIntentionStatusIcon.vue
  design/ui/src/components/sushi/FetchIntentionStatusWidget.vue
  design/ui/src/components/sushi/SushiAttemptCleanupWidget.vue
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
  design/ui/src/libs/attempt-state.js
  design/ui/src/libs/dates.js
  design/ui/src/libs/intention-state.js
  design/ui/src/locales/common.yaml
  design/ui/src/locales/sushi.yaml
  design/ui/src/pages/Main.vue
Due: black, pytestnow

locale cleanup; remove FetchIntentionStatusWidget as it is no longer used
  design/ui/src/components/sushi/FetchIntentionStatusIcon.vue
  design/ui/src/components/sushi/FetchIntentionStatusWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
Due: none

- change how annotations are managed on the platform page, platform list page and title page - fix problem of "add annotations" not being visible unless there was an annotation already
  design/ui/src/components/AnnotationCreateModifyWidget.vue
  design/ui/src/components/AnnotationsWidget.vue
  design/ui/src/pages/PlatformDetailPage.vue
  design/ui/src/pages/PlatformListPage.vue
  design/ui/src/pages/TitleDetailPage.vue
Due: none

only allow change of platform in annotation if dialog is not open from platform page
  design/ui/src/components/AddAnnotationButton.vue
  design/ui/src/components/AnnotationCreateModifyWidget.vue
  design/ui/src/components/AnnotationsWidget.vue
  design/ui/src/pages/PlatformDetailPage.vue
Due: none

- slightly rework the sushi edit dialog - show only counter version specific fields in the sushi edit dialog - fixes #192
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

- use v-form to help validate the sushi edit dialog content - use validation rules in the whole sushi credentials edit dialog - change display and placement for selected report types
  design/ui/package-lock.json
  design/ui/package.json
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiReportIndicator.vue
Due: none

do not allow empty value for extra param key in sushi edit dialog
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

make icons on monthly sushi page clickable and 'filterable'
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
Due: none

prepare release 2.8.0
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

uncomment import task after download is finished
  apps/scheduler/models.py
Due: black, pytestnow

Reload intentions list after the shortest timeout, not the longest one - fixes #197
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
Due: none

Count intentions with not yet imported data as unprocessed - refs #197
  apps/scheduler/models.py
Due: black, pytestnow

prepare release 2.8.1
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

Add some knowledgebase related features to platform admin
  apps/publications/admin.py
Due: black, pytestnow

update python dependencies
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

Path conditions:
  dependencies: any of: poetry.lock
  black: any of: \.py$
  pytestnow: any of: \.py$
