Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: dependencies
        name: Check whether requirements/*.txt are up-to-date
        entry: make update_requirements
        language: system
        files: poetry.lock
      - id: black
        name: Black formatter
        entry: poetry run black --check
        language: system
        types: [python]
      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

  - repo: https://github.com/prettier/prettier
    rev: "" # Use the sha or tag you want to point at
    hooks:
      - id: prettier

update javascript packages
  design/ui/package-lock.json
  design/ui/package.json
Due: none

only use report_type associated with the import batch when computing interest for that batch - fixes #198
  apps/logs/logic/materialized_interest.py
  apps/logs/logic/materialized_reports.py
  apps/logs/tests/test_interest_calculation.py
Due: black, pytestnow

improve interest recomputation cli
  apps/logs/logic/materialized_interest.py
  apps/logs/management/commands/recompute_interest.py
  config/settings/base.py
Due: black, pytestnow

improve interest recomputation cli
  apps/logs/logic/materialized_interest.py
  apps/logs/management/commands/recompute_interest.py
Due: black, pytestnow

update changelog for release; prepare release 2.8.2
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

fix logging in materialized_interest
  apps/logs/logic/materialized_interest.py
Due: black, pytestnow

put more stuff into submenus
  design/ui/src/pages/SidePanel.vue
Due: none

properly filter subitems based on their show attribute; improve translation and icons
  design/ui/src/components/util/MenuListItem.vue
  design/ui/src/locales/common.yaml
  design/ui/src/pages/SidePanel.vue
Due: none

make it possible to have sub-levels in the left-side menu; reorganize the main menu
  design/ui/src/components/util/MenuListItem.vue
  design/ui/src/locales/common.yaml
  design/ui/src/pages/SidePanel.vue
Due: none

fix rendering of dates in harvest table when date is null - fixes #199
  design/ui/src/components/HarvestsTable.vue
  design/ui/src/libs/dates.js
Due: none

sort platforms in autocompletes in several places - fixes #202
  design/ui/src/components/AnnotationCreateModifyWidget.vue
  design/ui/src/components/PlatformSelectionWidget.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

allow BOM in imported CSV files - fixes #200
  apps/logs/models.py
  apps/logs/tests/test_custom_import.py
Due: black, pytestnow

limit height of loader for sushi status dashboard widget - fixes #203
  design/ui/src/components/charts/SushiStatusChart.vue
Due: none

prepare release 2.8.3
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

create changelog entry for 2.8.3
  CHANGELOG.md
Due: none

add debugging info to axios request queueing
  design/ui/src/store/index.js
Due: none

implement COUNTER 5 table report import
  apps/core/logic/dates.py
  apps/core/tests/test_logic_dates.py
  apps/logs/models.py
  apps/logs/tests/test_custom_import.py
  apps/nigiri/counter5.py
  apps/nigiri/tests/test_counter5.py
  test-data/counter5/COUNTER_R5_Report_Examples_DR.csv
  test-data/counter5/COUNTER_R5_Report_Examples_PR.csv
  test-data/counter5/COUNTER_R5_Report_Examples_TR.csv
  test-data/counter5/counter5_table_dr.csv
  test-data/counter5/counter5_table_dr.tsv
Due: black, pytestnow

update requirements
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

logout user to reset sessionid after shibboleth logout
  config/urls.py
  design/ui/src/store/index.js
Due: black, pytestnow

Revert "logout user to reset sessionid after shibboleth logout"
  config/urls.py
  design/ui/src/store/index.js
Due: black, pytestnow

Update to upstream version of cachalot
  apps/logs/logic/export.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow

Remove organizations tables from cachalot
  config/settings/base.py
Due: black, pytestnow

change the menu group expander icon to something smaller
  design/ui/src/components/util/MenuListItem.vue
Due: none

add raw data exports into separate celery queue
  config/settings/base.py
Due: black, pytestnow

add materialization_date to report_type to enable forcing recomputation of materialized data created before certain date
  apps/logs/logic/materialized_reports.py
  apps/logs/models.py
  apps/logs/tests/test_materialized_reports.py
Due: black, pytestnow

add migration
  apps/logs/migrations/0035_reporttype_materialization_date.py
Due: black, pytestnow

add materialization_date to report_type to enable forcing recomputation of materialized data created before certain date
  apps/logs/logic/materialized_reports.py
  apps/logs/migrations/0038_reporttype_materialization_date.py
  apps/logs/models.py
  apps/logs/tests/test_materialized_reports.py
Due: black, pytestnow

Fix limiting reported_metrics for charts to only interest defining ones in presence of materialized reports
  apps/logs/logic/queries.py
Due: black, pytestnow

add fix for some user-orgs being erroneously deleted on ERMS sync
  apps/core/logic/sync.py
  apps/core/tests/test_sync.py
  apps/erms/sync.py
Due: black, pytestnow

Revert "Remove organizations tables from cachalot" - it wasn't the cause of the empty organizations bug as we expected
  config/settings/base.py
Due: black, pytestnow

allow Item_ID to be null in C5 data
  apps/nigiri/counter5.py
  apps/sushi/management/commands/validate_sushi_json.py
Due: black, pytestnow

Added a simple management command to detect conflicting ImportBatches
  apps/logs/logic/conflicts.py
  apps/logs/management/commands/conflicts.py
Due: black, pytestnow

more comprehensive output of conflicting batches
  apps/logs/logic/conflicts.py
  apps/logs/management/commands/conflicts.py
Due: black, pytestnow
