Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: trailing-whitespace
      exclude: '^.*\.(tsv|json|svg)'
    - id: end-of-file-fixer
      exclude: '^.*\.(tsv|json|svg)'
    - id: check-yaml
    - id: check-added-large-files

  - repo: local
    hooks:
    - id: dependencies
      name: Check whether requirements/*.txt are up-to-date
      entry: make update_requirements
      language: system
      files: poetry.lock
    - id: black
      name: Black formatter
      entry: poetry run black --check
      language: system
      types: [python]

patch core.signals.async_mail_admins to prevent test hanging in Gitlab
  apps/core/tests/test_api.py
Due: black

add basic validation to the login dialog
  design/ui/src/components/account/LoginDialog.vue
Due: none

better reloading of organizations in UI when user creates his default organization
  design/ui/src/components/account/CreateOrganizationDialog.vue
Due: none

add settings CONSORTIAL_INSTALLATION to distinguish Celus.one installation where there are just separate organizations and no consortium and a separate installation for one consortium
  config/settings/base.py
Due: black

use CONSORTIAL_INSTALLATION to display or hide the outside_consortium sushi attribute
  design/ui/src/components/SushiCredentialsEditDialog.vue
  design/ui/src/pages/SushiCredentialsManagementPage.vue
  design/ui/src/store/index.js
Due: none

add ALLOW_MANUAL_UPLOAD setting
  config/settings/base.py
Due: black

hide manual upload functionality when ALLOW_MANUAL_UPLOAD is False
  design/ui/src/pages/ManualUploadListPage.vue
  design/ui/src/pages/PlatformDetailPage.vue
  design/ui/src/pages/PlatformListPage.vue
  design/ui/src/pages/SidePanel.vue
  design/ui/src/store/index.js
Due: none

disable corresponding api calls when ALLOW_MANUAL_UPLOAD is False
  apps/core/permissions.py
  apps/logs/tests/test_api.py
  apps/logs/views.py
Due: black

import data immediatelly after downloading sushi
  apps/logs/tasks.py
  apps/sushi/tasks.py
  apps/sushi/views.py
  config/settings/base.py
Due: black

add notification about unverified email into the top bar
  design/ui/src/pages/StandardLayout.vue
Due: none

notify user about unverified email; customize the text for re-sent verification email
  apps/core/templates/account/email/email_confirmation_message.txt
  apps/core/templates/account/email/email_confirmation_signup_message.txt
  apps/core/templates/account/email/email_confirmation_signup_subject.txt
  apps/core/templates/account/email/email_confirmation_subject.txt
  apps/core/tests/test_api.py
  design/ui/src/pages/UserPage.vue
  design/ui/src/store/index.js
Due: black

add management command to assign a standard set of interest reports to each platform
  apps/logs/management/commands/define_interest_for_all_platforms.py
  apps/publications/admin.py
Due: black

guard against button double-clicking in login and registration dialog
  apps/core/tests/test_api.py
  design/ui/src/components/account/LoginDialog.vue
Due: black

Fix filename generation for sushi fetch attempts (internal_id=None)
  apps/sushi/models.py
  apps/sushi/tests/conftest.py
  apps/sushi/tests/test_sushfetchattempt_model.py
Due: black

Insert derived internal_id during default organization creation
  apps/organizations/tests/test_api.py
  apps/organizations/views.py
Due: black

Handle Counter 5 and stringified error header
  apps/nigiri/counter5.py
  apps/nigiri/tests/test_counter5.py
  test-data/counter5/stringified_error.json
Due: black

Fix counter 4 imports
  apps/logs/logic/attempt_import.py
  apps/logs/tests/test_attempt_import.py
  apps/nigiri/counter4.py
Due: black

Don't try to import the report if it is not ready
  apps/logs/logic/attempt_import.py
  apps/logs/tests/test_attempt_import.py
  apps/sushi/models.py
  apps/sushi/tasks.py
  apps/sushi/tests/test_sushi_fetching.py
Due: black

Add tests for extracting counter 4 errors
  apps/nigiri/tests/test_counter4.py
  test-data/counter4/4_BR2_invalid_location1.xml
  test-data/counter4/4_BR2_not_supported1.xml
  test-data/counter4/4_BR2_service_not_available1.xml
  test-data/counter4/4_BR2_unauthorized1.xml
  test-data/counter4/4_BR2_unauthorized2.xml
Due: black

Add test to parse counter 4 JR2 records
  apps/logs/tests/test_attempt_import.py
  apps/nigiri/counter4.py
  test-data/counter4/4_JR2_denials.tsv
Due: black

Handle error case when exception is in root {"Exception": ...}
  apps/nigiri/counter5.py
  apps/sushi/tests/test_sushi_fetching.py
  test-data/counter5/error-in-root.json
Due: black

When a new user creates a new organization during the registration procedure set the organization name for all language mutations
  apps/organizations/tests/test_api.py
  apps/organizations/views.py
Due: black

show full name and not just short_name in sushi credentials edit dialog
  design/ui/src/components/SushiCredentialsEditDialog.vue
Due: none

Update pycounter to a newer version (based on original pycounter 2.1.2)
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

add test to be sure that C4 JR2 work properly
  apps/logs/tests/test_attempt_import.py
  test-data/counter4/4_JR2_denials.tsv
Due: black

Another batch of fixes
  apps/logs/logic/attempt_import.py
  apps/logs/tests/test_attempt_import.py
  apps/nigiri/counter5.py
  test-data/counter5/5_TR_with_warning.json
Due: black

Make title creation more resilent
  apps/logs/logic/data_import.py
  apps/logs/tests/test_data_import.py
Due: black

Don't require contains_data=True when importing data
  apps/logs/logic/attempt_import.py
  apps/logs/tests/test_attempt_import.py
  apps/sushi/models.py
Due: black

Don't throw an exception when attempt is missing in celery tasks
  apps/logs/tasks.py
  apps/sushi/tasks.py
Due: black

Pass extra_params to Sushi4Client as well
  apps/sushi/models.py
Due: black

Disallow importing sushi attempts with contains_data=False + don't alter contains_data during reimports
  apps/logs/logic/attempt_import.py
  apps/logs/tests/test_attempt_import.py
  apps/sushi/models.py
Due: black

add management command to recompute materialized_reports - this is a quick fix when the materialized data get out of whack for some reason
  apps/logs/logic/materialized_reports.py
  apps/logs/management/commands/recompute_materialized_reports.py
  apps/logs/tests/test_materialized_reports.py
Due: black

fix imports in test_custom_import, add __all__ to some conftest modules
  apps/core/tests/conftest.py
  apps/logs/tests/test_custom_import.py
  apps/organizations/tests/conftest.py
Due: black

fix error in custom import preflight
  apps/logs/logic/custom_import.py
  apps/logs/tests/test_custom_import.py
Due: black

fix .gitignore to ignore .env
  .gitignore
Due: none

implement .env based settings management
  .env.example
  .gitignore
  config/settings/base.py
  config/settings/devel.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black

replace secret_settings.json with .env in gitlab CI tests
  .gitlab/run-tests.yml
Due: none

move DISABLE_CACHALOT to env instead of devel settings; remove livereload from requirements as it is not used anyway; clean up devel settings
  .env.example
  config/settings/base.py
  config/settings/devel.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
Due: dependencies, black

add error.log into file
  config/settings/base.py
Due: black

add test to pinpoint the problem with materialization based on interest; remove pytest.mark.now from most other tests
  apps/logs/logic/materialized_reports.py
  apps/logs/tests/test_api.py
  apps/logs/tests/test_custom_import.py
  apps/logs/tests/test_interest_calculation.py
  apps/logs/tests/test_materialized_reports.py
  apps/nigiri/tests/test_fetching.py
  apps/publications/tests/test_sync.py
Due: black
