Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: dependencies
        name: Check whether requirements/*.txt are up-to-date
        entry: make update_requirements
        language: system
        files: poetry.lock
      - id: black
        name: Black formatter
        entry: poetry run black --check
        language: system
        types: [python]
      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

  - repo: https://github.com/prettier/prettier
    rev: "" # Use the sha or tag you want to point at
    hooks:
      - id: prettier

Platform list update in manual upload
  design/ui/src/components/ManualUploadButton.vue
Due: none

Unique global shortname + Unique shortname with the same source
  apps/core/migrations/0015_unique_name_within_organization_data_source.py
  apps/core/models.py
  apps/knowledgebase/tests/test_models.py
  apps/organizations/migrations/0020_organization_unique_shortname.py
  apps/organizations/models.py
  apps/organizations/views.py
  apps/publications/migrations/0025_platform_unique_shortname.py
  apps/publications/models.py
Due: black, pytestnow

Fix creating organization after a new user is created (limit org name to 100 chars)
  apps/organizations/serializers.py
  apps/organizations/views.py
  design/ui/src/components/account/CreateOrganizationDialog.vue
Due: black, pytestnow

Add a badge for manually created platforms and report types
  apps/logs/serializers.py
  apps/organizations/models.py
  apps/organizations/views.py
  apps/publications/views.py
  design/ui/src/components/PlatformSelectionWidget.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/libs/sources.js
  design/ui/src/locales/sources.yaml
  design/ui/src/pages/CustomDataUploadPage.vue
Due: black, pytestnow

add ALLOW_NONCOUNTER_DATA setting; use it to control the list of report types available to users when uploading data
  apps/logs/tests/test_api.py
  apps/publications/tests/test_api.py
  apps/publications/views.py
  config/settings/base.py
Due: black, pytestnow

properly read date filters for flexible reports - fixes copy error with date filter
  design/ui/src/libs/flexi-reports.js
Due: none

HarvestIntention optimizations
  apps/scheduler/migrations/0011_fetchintention_previous.py
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/views.py
  apps/sushi/serializers.py
  config/settings/devel.py
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

Untried status fix in frontent
  design/ui/src/libs/attempt-state.js
Due: none

disable filter in sushi overview when it is not valid for current month/organization
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: none

split loading state in sushi month overview to 3 values to prevent fast loading actions from setting it to false prematurely
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: none

make 'harvest selected' button always active but show warning when nothing is selected
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
Due: none

prepare release 3.1.0
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

update changelog for 3.0.3
  CHANGELOG.md
Due: none

update changelog after merging forgotten changes from 3.0.3
  CHANGELOG.md
Due: none

update existing migration with data migration to fill in short_name for DataSource
  apps/core/migrations/0015_unique_name_within_organization_data_source.py
  apps/core/models.py
  apps/organizations/views.py
Due: black, pytestnow

allow org-admin to be allowed processing of manual uploads; add test for manual uploads for different user types
  apps/logs/tests/test_custom_import.py
  apps/logs/views.py
Due: black, pytestnow

allow year to be lower than 2000 for sushi overview; optimize query count by using select_related
  apps/sushi/serializers.py
  apps/sushi/views.py
Due: black, pytestnow

do not allow the user to select dates below year 2010 when harvesting sushi
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
Due: none

implement server-side pagination and sorting for sushi-fetch-attemp API endpoint
  apps/sushi/serializers.py
  apps/sushi/tests/conftest.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  test_fixtures/entities/counter_report_types.py
  test_fixtures/entities/fetchattempts.py
  test_fixtures/entities/report_types.py
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

hide some columns in sushi management table when on smaller screen
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
Due: none

select_related source to reduce the number of queries
  apps/publications/views.py
  apps/sushi/views.py
Due: black, pytestnow

add loading animation to loading of report types in sushi edit dialog
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

fix deducing of title type when loading data from file
  apps/logs/logic/data_import.py
  apps/logs/tests/test_data_import.py
Due: black, pytestnow

add migration to fix pub_type for existing titles
  apps/logs/logic/data_import.py
  apps/logs/tests/test_data_import.py
  apps/publications/migrations/0026_title_type_data_migration.py
  apps/publications/tests/test_title_manager.py
Due: black, pytestnow

fix UI error when displaying only one fetch attempt; add data migration to fix 'Data already imported' error status
  apps/sushi/migrations/0044_fix_data_already_imported.py
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
Due: black, pytestnow

prepare release 3.1.1 - it already counts on #320 being merged
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

use URLSearchParams rather than this. as it does not seem to be correctly populated on the first load
  design/ui/src/components/account/LoginDialog.vue
Due: none

implement CSV export of SUSHI credentials from django admin
  apps/sushi/admin.py
  config/settings/base.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow

use only import_batch pk when serializing a list of manual uploads for an organization - saves a lot of queries, saves time and bandwidth
  apps/logs/serializers.py
  apps/logs/views.py
  design/ui/src/components/ManualUploadListTable.vue
Due: black, pytestnow

add all COUNTER reports to list of reports available for manual upload; alphabetically sort reports in manual upload view
  apps/publications/tests/test_api.py
  apps/publications/views.py
  design/ui/src/pages/CustomDataUploadPage.vue
Due: black, pytestnow

Sushi + Nigiri cleanup
  apps/core/management/commands/start_celery_task.py
  apps/logs/logic/attempt_import.py
  apps/nigiri/client.py
  apps/scheduler/tests/test_models.py
  apps/sushi/admin.py
  apps/sushi/logic/fetching.py
  apps/sushi/management/commands/retry_queued_sushi_attempts.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tasks.py
  apps/sushi/tests/conftest.py
  apps/sushi/tests/test_logic_fetching.py
  apps/sushi/tests/test_sushi_fetching.py
  apps/sushi/tests/test_sushifetchattempt_model.py
  apps/sushi/tests/test_views.py
  apps/sushi/urls.py
  apps/sushi/views.py
  config/settings/base.py
  design/ui/src/pages/ManagementPage.vue
Due: black, pytestnow

Make severity deriving more resilent
  apps/nigiri/client.py
  apps/nigiri/counter5.py
  apps/nigiri/error_codes.py
  apps/nigiri/tests/test_counter4.py
  apps/nigiri/tests/test_counter5.py
  test-data/counter4/sushi_1111-severity-missing.xml
  test-data/counter4/sushi_1111-severity-number.xml
  test-data/counter5/severity-missing.json
  test-data/counter5/severity-number.json
Due: black, pytestnow

add command to cleanup database of all organization related data - useful when reusing a dump of old db for new installation
  apps/core/management/commands/cleanup_database.py
Due: black, pytestnow

always print the stats at the end - regardless of --do-it
  apps/core/management/commands/cleanup_database.py
Due: black, pytestnow

move CreateUpdateMixin to core
  apps/core/models.py
  apps/scheduler/models.py
  apps/sushi/models.py
Due: black, pytestnow

Replace bools in FetchAttempt with a state machine
  apps/logs/logic/attempt_import.py
  apps/logs/management/commands/sync_sushi_attempts.py
  apps/logs/tasks.py
  apps/logs/tests/test_attempt_import.py
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_models.py
  apps/sushi/admin.py
  apps/sushi/logic/cleanup.py
  apps/sushi/migrations/0045_fetchattempt_statemachine.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_sushi_fetching.py
  apps/sushi/tests/test_sushifetchattempt_model.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
  design/ui/src/components/charts/SushiStatusChart.vue
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/libs/attempt-state.js
  design/ui/src/libs/intention-state.js
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

fix update_report_approx_record_count_task celery task triggering
  config/settings/base.py
Due: black, pytestnow

Don't raise 500 when creating Platform which short_name already exists within data source
  apps/publications/tests/test_api.py
  apps/publications/views.py
Due: black, pytestnow

Replace django-rest-auth with dj-reset-auth
  apps/api/urls.py
  apps/core/account.py
  apps/core/templates/registration/password_reset_message.html
  apps/core/views.py
  config/settings/base.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow
