Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

dependencies:
  name: Check whether requirements/*.txt are up-to-date
  entry: make update_requirements
  language: system

black:
  name: Black formatter
  entry: poetry run black --check
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

WIP: make it possible to query titles with more than one platform - refs #150
  apps/logs/admin.py
  apps/publications/views.py
Due: black, pytestnow

finalize overlap analysis view - fixes #150
  apps/publications/serializers.py
  apps/publications/views.py
  design/ui/src/components/TitleList.vue
  design/ui/src/components/util/SimplePie.vue
  design/ui/src/libs/palettes.js
  design/ui/src/locales/common.yaml
  design/ui/src/pages/DashboardPage.vue
Due: black, pytestnow

WIP: add new views for titles to see platform-based interest sums - refs #150
  apps/publications/serializers.py
  apps/publications/tests/test_api.py
  apps/publications/urls.py
  apps/publications/views.py
Due: black, pytestnow

WIP: create view for multiplatform titles - refs #150
  design/ui/src/components/TitleList.vue
  design/ui/src/components/util/SimplePie.vue
  design/ui/src/locales/common.yaml
  design/ui/src/pages/DashboardPage.vue
  design/ui/src/pages/OverlapAnalysisPage.vue
  design/ui/src/pages/SidePanel.vue
  design/ui/src/router/index.js
Due: none

use backend computed total interest rather than front-end based one - refs #150
  apps/publications/serializers.py
  apps/publications/views.py
  design/ui/src/components/TitleList.vue
Due: black, pytestnow

Added merge strategies to knowledgebase imports
  apps/knowledgebase/management/__init__.py
  apps/knowledgebase/management/commands/__init__.py
  apps/knowledgebase/management/commands/fetch_platforms_from_knowledgebase.py
  apps/knowledgebase/models.py
  apps/knowledgebase/tests/test_models.py
Due: black, pytestnow

Add intermediate model to SushiCredentials-CounterReportType
  apps/sushi/logic/fetching.py
  apps/sushi/management/commands/load_platform_report_table.py
  apps/sushi/migrations/0036_credentials_intermediate_report_types.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/conftest.py
  apps/sushi/tests/test_logic_fetching.py
  apps/sushi/tests/test_sushi_fetching.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  test_fixtures/scenarios/basic.py
Due: black, pytestnow

add missing translation to the platform overlap page
  design/ui/src/pages/OverlapAnalysisPage.vue
Due: none

WIP: add pie chart with sushi harvesting status - refs #131
  design/ui/src/components/charts/SushiStatusChart.vue
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/locales/sushi.yaml
  design/ui/src/pages/DashboardPage.vue
Due: none

month selection and other improvements of the sushi status dashboard panel - refs #131
  design/ui/src/components/charts/SushiStatusChart.vue
  design/ui/src/pages/DashboardPage.vue
Due: none

add link to sushi status page from the sushi status dashboard panel - fixes #131
  design/ui/src/components/charts/SushiStatusChart.vue
  design/ui/src/pages/DashboardPage.vue
Due: none

update translation - refs #131
  design/ui/src/locales/sushi.yaml
  design/ui/src/pages/DashboardPage.vue
Due: none

fix inactive sushi credentials distorting data in dashboard sushi status chart - refs #131
  design/ui/src/components/charts/SushiStatusChart.vue
  design/ui/src/pages/DashboardPage.vue
Due: none

replace '-' with 'All platforms' on sushi status page - refs #135
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: none

add filtering to platform selection in the sushi edit dialog - refs #135
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

reload the count of sushi credentials on each dashboard reload in order to properly display/hide the intro sushi wizard - refs #135
  design/ui/src/pages/DashboardPage.vue
Due: none

fix chart table data overflowing a card on dashboard page
  design/ui/src/components/APIChart.vue
  design/ui/src/components/ChartDataTable.vue
  design/ui/src/pages/DashboardPage.vue
Due: none

prepare release 2.4.0
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

Set that credentials are broken
  apps/nigiri/client.py
  apps/nigiri/error_codes.py
  apps/sushi/migrations/0037_broken_credentials.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushifetchattempt_model.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black, pytestnow

change how the year-by-year chart view looks like - fixes #147
  design/ui/package-lock.json
  design/ui/package.json
  design/ui/src/components/APIChart.vue
  design/ui/src/libs/charts.js
  design/ui/src/libs/numbers.js
Due: none

shorten title text in top 10 cards on dashboard page - fixes #156
  design/ui/src/components/TopTenDashboardWidget.vue
Due: none

prepare release 2.4.1, add changelog entry for 2.4.1
  CHANGELOG.md
  design/ui/package-lock.json
  design/ui/package.json
  pyproject.toml
Due: none

Don't plan broken credentials in cron
  apps/sushi/logic/fetching.py
  apps/sushi/tests/test_logic_fetching.py
Due: black, pytestnow

Retry only those attempts which don't have broken credentials
  apps/sushi/logic/fetching.py
  apps/sushi/tests/test_logic_fetching.py
Due: black, pytestnow

Avoid other places were attempts with broken credentials can be run
  apps/sushi/tasks.py
Due: black, pytestnow

Add function which converts celus report type codes to pycounter report type codes
  apps/nigiri/client.py
Due: black, pytestnow

pycounter upgrade
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

disable remapping of 'JR1GOA' to 'JR1 GOA'
  apps/nigiri/client.py
Due: black, pytestnow

bump pycounter version to fix JR1GOA parsing
  pyproject.toml
Due: none

- implement platform-platform overlap API endpoint and UI - fixes #157 - define plural form for cs locale to allow proper localization of plurals
  apps/organizations/views.py
  apps/publications/tests/test_api.py
  apps/publications/views.py
  design/ui/src/components/PlatformOverlapTable.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/i18n.js
  design/ui/src/locales/common.yaml
  design/ui/src/pages/OverlapAnalysisPage.vue
  design/ui/src/pages/PlatformOverlapAnalysisPage.vue
  design/ui/src/pages/SidePanel.vue
  design/ui/src/router/index.js
Due: black, pytestnow

Display platform knowledgebase in a nicer way (in admin)
  apps/publications/admin.py
Due: black, pytestnow

update requirements
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

Add api calls to unset broken credentials / broken credentials report types
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black, pytestnow

Extend credentials detail api by broken info
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black, pytestnow

Disable creating attempts if credentials are broken
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black, pytestnow

add last query duration to recache admin
  apps/recache/admin.py
Due: black, pytestnow

Path conditions:
  dependencies: any of: poetry.lock
  black: any of: \.py$
  pytestnow: any of: \.py$
