Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: trailing-whitespace
      exclude: '^.*\.(tsv|json|svg)'
    - id: end-of-file-fixer
      exclude: '^.*\.(tsv|json|svg)'
    - id: check-yaml
    - id: check-added-large-files

  - repo: local
    hooks:
    - id: dependencies
      name: Check whether requirements/*.txt are up-to-date
      entry: make update_requirements
      language: system
      files: poetry.lock
    - id: black
      name: Black formatter
      entry: poetry run black --check
      language: system
      types: [python]

add OrganizationAltName model - fixes #106
  apps/organizations/migrations/0017_add_organizationaltname.py
  apps/organizations/models.py
  apps/organizations/tests/test_models.py
Due: black

Convert some error into warnings durning sushi processing
  apps/sushi/models.py
Due: black

Sushi download improvements
  apps/nigiri/client.py
  apps/nigiri/counter5.py
  apps/nigiri/tests/test_counter4.py
  apps/sushi/models.py
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black

Make error extraction from counter4 records more resilent
  apps/nigiri/client.py
  apps/nigiri/tests/test_counter4.py
  test-data/counter4/sushi_1111.xml
  test-data/counter4/sushi_3030.xml
Due: black

change str() for Metric to properly show remap of short_name to name in Django admin
  apps/logs/models.py
Due: black

change ordering of ReportDataViews so that they are ordered by name in Djanog admin and by position in API
  apps/charts/admin.py
  apps/charts/models.py
  apps/charts/tests/test_api.py
  apps/charts/views.py
  apps/publications/views.py
Due: black

add to User admin
  apps/core/admin.py
Due: black

when sending invitations show a message confirming how many were sent
  apps/core/admin.py
Due: black

Update pycounter to fix some parsing issues
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

prepare release 2.1.0
  CHANGELOG.md
  design/ui/package.json
  pyproject.toml
Due: none

Fix building vue for tags
  .gitlab/build-vue.yml
Due: none

fix error causing different version_hash in credentials and attempts
  apps/sushi/models.py
  apps/sushi/tests/test_sushicredentials_model.py
Due: black

update changelog for 2.1.1
  CHANGELOG.md
Due: none

Fix C4 file processing (create file in tsv format instead of xml)
  apps/sushi/models.py
Due: black

Fix test and once more fix C4 processing
  apps/nigiri/client.py
  apps/sushi/models.py
  apps/sushi/tests/test_sushicredentials_model.py
Due: black

fix conversion of metric into string for the API - fixes #110
  apps/logs/logic/queries.py
Due: black

update changelog for v2.1.2
  CHANGELOG.md
Due: none

use apt instead of apt-get in Docker
  .gitlab/github-export.yml
Due: none

revert: use apt instead of apt-get in Docker
  .gitlab/github-export.yml
Due: none

update version to 2.1.2
  design/ui/package.json
  pyproject.toml
Due: none

ignore case when comparing email addresses - fixes #115
  apps/core/models.py
  apps/core/tests/test_models.py
Due: black

add admin for organization alt names
  apps/organizations/admin.py
  apps/organizations/models.py
Due: black

WIP: create sushi monhtly overview ui page - refs #111
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/locales/common.yaml
  design/ui/src/pages/SidePanel.vue
  design/ui/src/pages/SushiCredentialsMonthOverviewPage.vue
  design/ui/src/router/index.js
Due: none

move sushi related widgets into a separate subdir - refs #111
  design/ui/specs/SushiCredentialsEditDialog.spec.js
  design/ui/src/components/help/FirstSushiHelpWidget.vue
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsStatusWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
  design/ui/src/pages/SushiFetchAttemptsPage.vue
Due: none

WIP: add statistics to the sushi monthly overview page - refs #111
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: none

WIP: reintroduce imports erroneously removed in last commit - refs #111
  apps/sushi/tests/test_views.py
Due: black

make it possible to see details of attempts on click in monthly overview page - refs #111
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/locales/common.yaml
Due: none

WIP: add tooltips to sushi attempt states - refs #111
  design/ui/src/components/sushi/SushiAttemptStateIcon.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/libs/attempt-state.js
Due: none

WIP: first functional sushi monthly overview page - refs #111
  apps/sushi/serializers.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: black

WIP: add some filters and switches to the sushi monthly overview page - refs #111
  apps/sushi/serializers.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
Due: black

add API endpoint to get the last attempts for each credentials and report type combination
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black

make it possible to start test of more sushi credentials at once from the sushi management page
  apps/sushi/serializers.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsStatusWidget.vue
  design/ui/src/components/sushi/SushiCredentialsTestWidget.vue
Due: black

add recache app for caching with background re-evaluation - fixes #116 add specialized view for top 10 titles by interest use recache for the top 10 titles view
  .gitlab/run-tests.yml
  apps/core/exceptions.py
  apps/core/management/commands/start_celery_task.py
  apps/core/tests/conftest.py
  apps/publications/tests/test_api.py
  apps/publications/urls.py
  apps/publications/views.py
  apps/recache/__init__.py
  apps/recache/admin.py
  apps/recache/apps.py
  apps/recache/migrations/0001_initial.py
  apps/recache/migrations/0002_add_stats.py
  apps/recache/migrations/0003_cachedquery_origin.py
  apps/recache/migrations/0004_unique_query_hash.py
  apps/recache/migrations/__init__.py
  apps/recache/models.py
  apps/recache/tasks.py
  apps/recache/tests/__init__.py
  apps/recache/tests/test_models.py
  apps/recache/tests/test_util.py
  apps/recache/util.py
  apps/recache/views.py
  config/settings/base.py
  design/ui/src/components/TopTenDashboardWidget.vue
  design/ui/src/pages/DashboardPage.vue
Due: black

update changelog with unreleased stuff
  CHANGELOG.md
Due: none

fix error when assigning chart to report type and the only other chart has position 0
  CHANGELOG.md
  design/ui/src/components/admin/ReportViewToChartManagementWidget.vue
Due: none

Add dependencies to gitlab CI so DAG chart is shown
  .gitlab-ci.yml
  .gitlab/build-image.yml
  .gitlab/build-vue.yml
  .gitlab/github-export.yml
  .gitlab/pre-commit.yml
  .gitlab/run-tests.yml
  .gitlab/sentry.yml
  .gitlab/test-image.yml
Due: none

change the way check marks for boolean values are rendered in the UI; add tooltip for booleans
  CHANGELOG.md
  design/ui/src/components/ManualUploadListTable.vue
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsStatusWidget.vue
  design/ui/src/components/util/CheckMark.vue
  design/ui/src/components/util/GoodBadMark.vue
Due: none

use @ rather than relative paths in import in vue pages
  design/ui/specs/CheckMark.spec.js
  design/ui/src/components/APIChart.vue
  design/ui/src/components/BootUpWidget.vue
  design/ui/src/components/ManualUploadListTable.vue
  design/ui/src/components/OrganizationPlatformInterestHeatmap.vue
  design/ui/src/components/TopTenDashboardWidget.vue
  design/ui/src/components/UndefinedInterestWidget.vue
  design/ui/src/components/sushi/SushiAttemptListWidget.vue
  design/ui/src/components/sushi/SushiCredentialsManagementWidget.vue
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/components/sushi/SushiCredentialsStatusWidget.vue
  design/ui/src/components/util/CheckMark.vue
  design/ui/src/components/util/LargeSpinner.vue
  design/ui/src/components/util/LoaderWidget.vue
  design/ui/src/pages/AllTitlesListPage.vue
  design/ui/src/pages/CustomDataUploadPage.vue
  design/ui/src/pages/DashboardPage.vue
  design/ui/src/pages/ImportBatchesPage.vue
  design/ui/src/pages/IntroPage.vue
  design/ui/src/pages/Main.vue
  design/ui/src/pages/MaintenancePage.vue
  design/ui/src/pages/ManagementPage.vue
  design/ui/src/pages/ManualUploadListPage.vue
  design/ui/src/pages/OrganizationPlatformInterestOverviewPage.vue
  design/ui/src/pages/PlatformDetailPage.vue
  design/ui/src/pages/PlatformListPage.vue
  design/ui/src/pages/SidePanel.vue
  design/ui/src/pages/StandardLayout.vue
  design/ui/src/pages/SushiFetchAttemptsPage.vue
  design/ui/src/pages/TitleDetailPage.vue
  design/ui/src/pages/UserPage.vue
Due: none

fix error displaying wrong platform name in sushi edit dialog when editing existing credentials
  CHANGELOG.md
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

Cleanup API changes
  apps/sushi/filters.py
  apps/sushi/migrations/0031_sushifetchattempt_last_updated.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black
