Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black, pytestnow

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: dependencies
        name: Check whether requirements/*.txt are up-to-date
        entry: make update_requirements
        language: system
        files: poetry.lock
      - id: black
        name: Black formatter
        entry: poetry run black --check
        language: system
        types: [python]
      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

  - repo: https://github.com/prettier/prettier
    rev: "" # Use the sha or tag you want to point at
    hooks:
      - id: prettier

Fix nested report type ordering in sushi data view
  apps/sushi/tests/test_views.py
  apps/sushi/views.py
Due: black, pytestnow

Use TranslationAdmin for all models which are registered in translation.py
  apps/logs/admin.py
  apps/organizations/admin.py
Due: black, pytestnow

Use name if short_name not present in Harvest list view
  design/ui/src/components/HarvestsTable.vue
Due: none

optimize import memory consumption
  apps/logs/logic/attempt_import.py
  apps/logs/logic/data_import.py
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black, pytestnow

optimize import memory consumption
  apps/logs/logic/attempt_import.py
  apps/logs/logic/data_import.py
Due: black, pytestnow

Fix make sure that setTimeout's delay can fit into 32bit integer
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
Due: none

use indeterminate circular progress inside the linear to show that something is going on
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
Due: none

stretch harvests table to the whole available width
  design/ui/src/components/HarvestsTable.vue
Due: none

Redo import task locking and suppress data already imported error
  apps/logs/logic/attempt_import.py
  apps/logs/management/commands/sync_sushi_attempts.py
  apps/logs/tasks.py
  apps/sushi/admin.py
Due: black, pytestnow

Add a button to Harvest detail view which triggers future intentions now
  apps/scheduler/tests/test_api.py
  apps/scheduler/views.py
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
  design/ui/src/libs/intention-state.js
Due: black, pytestnow

tweak positioning of 'add annotation' and 'add platform' buttons
  design/ui/src/pages/PlatformListPage.vue
Due: none

backport C5 table import
  apps/core/logic/dates.py
  apps/logs/logic/attempt_import.py
  apps/logs/logic/custom_import.py
  apps/logs/models.py
  apps/nigiri/counter5.py
  apps/sushi/models.py
Due: black, pytestnow

update requirements
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

properly await loading of report types in SUSHI edit dialog to make sure they are available when selecting them
  design/ui/src/components/sushi/SushiCredentialsEditDialog.vue
Due: none

explicitly add interest into nonzero report types as it does not have import batches on its own
  apps/logs/views.py
Due: black, pytestnow

update changelog for 3.0.3
  CHANGELOG.md
Due: none

Added new status to FetchAttempt - PARTIAL_DATA
  apps/nigiri/client.py
  apps/nigiri/error_codes.py
  apps/sushi/migrations/0043_sushifetchattempt_partial_data.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_sushi_fetching.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiCredentialsDataDialog.vue
  design/ui/src/libs/attempt-state.js
  design/ui/src/libs/data-state.js
  design/ui/src/locales/sushi.yaml
  test-data/counter5/partial_data1.json
  test-data/counter5/partial_data2.json
Due: black, pytestnow

Add ability to trigger postponed reimports via celery in admin
  apps/logs/tasks.py
  apps/sushi/admin.py
Due: black, pytestnow

Exclude empty harvests from harvest views
  apps/scheduler/tests/test_api.py
  apps/scheduler/views.py
Due: black, pytestnow

Fix signals which create Automatic harvests
  apps/core/logic/dates.py
  apps/scheduler/signals.py
  apps/scheduler/tests/test_models.py
Due: black, pytestnow

JS Sentry updates:
  .gitlab/build-vue.yml
  design/ui/src/main.js
Due: none

strip string values imported from C5 tables; force materialized views computation for manually imported batches
  apps/logs/logic/custom_import.py
  apps/logs/logic/materialized_reports.py
  apps/nigiri/counter5.py
  config/settings/devel.py
Due: black, pytestnow

strip string values imported from C5 tables; force materialized views computation for manually imported batches
  apps/logs/logic/custom_import.py
  apps/logs/logic/materialized_reports.py
  apps/nigiri/counter5.py
Due: black, pytestnow

update the ansible playbook in documentation to use artifacts from github releases
  docs/ansible/roles/celus/defaults/main.yml
  docs/ansible/roles/celus/tasks/django.yaml
  docs/ansible/roles/celus/tasks/main.yaml
Due: none

fix chart display if secondary dimension value is null
  design/ui/src/components/APIChart.vue
Due: none

Solve Celus version inconsistencies between backend and frontend
  apps/core/middleware.py
  apps/core/tests/test_api.py
  config/settings/__init__.py
  config/settings/base.py
  design/ui/src/components/NewCelusVersionDialog.vue
  design/ui/src/pages/Main.vue
  design/ui/src/store/index.js
Due: black, pytestnow

Display not_before time in Harvest detail list
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
  design/ui/src/locales/common.yaml
Due: none

make some v-containers fluid to fill the whole space
  design/ui/src/components/sushi/SushiCredentialsMonthOverviewWidget.vue
  design/ui/src/pages/MaintenancePage.vue
  design/ui/src/pages/ManagementPage.vue
Due: none

get rid of 'attempt overview' tab under SUSHI overview; rename to SUSHI harvests
  design/ui/src/locales/common.yaml
  design/ui/src/pages/SushiFetchAttemptsPage.vue
Due: none

remove backend code related to sushi attempt stats and cleanup
  apps/sushi/filters.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  apps/sushi/urls.py
  apps/sushi/views.py
  design/ui/src/components/sushi/SushiAttemptCleanupWidget.vue
Due: black, pytestnow

Cancelling FetchIntentions
  apps/scheduler/migrations/0010_fetchintention_canceled.py
  apps/scheduler/models.py
  apps/scheduler/serializers.py
  apps/scheduler/tests/test_api.py
  apps/scheduler/tests/test_models.py
  apps/scheduler/views.py
  design/ui/src/components/sushi/SushiFetchIntentionsListWidget.vue
  design/ui/src/libs/intention-state.js
  design/ui/src/locales/sushi.yaml
Due: black, pytestnow
