Repository techlib/celus: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependencies, black

.pre-commit-config.yaml:

default_stages: [push, commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: trailing-whitespace
      exclude: '^.*\.(tsv|json|svg)'
    - id: end-of-file-fixer
      exclude: '^.*\.(tsv|json|svg)'
    - id: check-yaml
    - id: check-added-large-files

  - repo: local
    hooks:
    - id: dependencies
      name: Check whether requirements/*.txt are up-to-date
      entry: make update_requirements
      language: system
      files: poetry.lock
    - id: black
      name: Black formatter
      entry: poetry run black --check
      language: system
      types: [python]

fix the queries for finding import batches in need of materialization update
  apps/logs/logic/materialized_reports.py
Due: black

create fixture for creating one platform and use it in materialed_reports tests
  apps/logs/tests/test_materialized_reports.py
  apps/publications/tests/conftest.py
  config/settings/devel.py
Due: black

add support for sentry in Django
  config/settings/base.py
  config/settings/production.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black

make db host and db user configurable using env file
  config/settings/base.py
Due: black

make more email configs configurable using env file
  config/settings/base.py
Due: black

add celery and redis sentry integrations
  config/settings/base.py
Due: black

add USES_ERMS high-level config option
  config/settings/base.py
Due: black

add two forgotten migrations
  apps/activity/migrations/0002_useractivity_plural.py
  apps/publications/migrations/0019_more_pub_types.py
Due: black

add title to sushi credentials and use it in both API and the UI
  apps/core/tests/test_api.py
  apps/logs/tests/test_custom_import.py
  apps/logs/tests/test_materialized_reports.py
  apps/sushi/migrations/0030_sushicredentials_title.py
  apps/sushi/models.py
  apps/sushi/serializers.py
  apps/sushi/tests/test_views.py
  design/ui/src/components/SushiCredentialsEditDialog.vue
  design/ui/src/pages/SushiCredentialsManagementPage.vue
Due: black

add title to the same row with platform and organization in the UI dialog
  design/ui/src/components/SushiCredentialsEditDialog.vue
Due: none

rework counter version validation in UI to hint about possible conflicts
  design/ui/src/components/SushiCredentialsEditDialog.vue
Due: none

make STATIC_ROOT env configurable
  config/settings/base.py
Due: black

update requirements
  poetry.lock
  requirements/develop.txt
  requirements/production.txt
Due: dependencies

fix bytes vs string warnings from ijson
  apps/nigiri/client.py
  apps/nigiri/counter5.py
Due: black

make ordering of titles explicit to avoid warnings about Django 3.1 compatibility
  apps/publications/views.py
Due: black

add app for deployment configuration; implement models and api for site images
  apps/api/urls.py
  apps/deployment/__init__.py
  apps/deployment/admin.py
  apps/deployment/apps.py
  apps/deployment/migrations/0001_initial.py
  apps/deployment/migrations/__init__.py
  apps/deployment/models.py
  apps/deployment/serializers.py
  apps/deployment/urls.py
  apps/deployment/views.py
  apps/logs/views.py
  config/settings/base.py
  poetry.lock
  pyproject.toml
  requirements/develop.txt
  requirements/production.txt
Due: dependencies, black

use site config data in UI
  apps/deployment/views.py
  design/ui/public/index.html
  design/ui/src/main.js
  design/ui/src/pages/StandardLayout.vue
  design/ui/src/store/index.js
  design/ui/src/store/modules/site-config.js
  design/ui/vue.config.js
Due: black

make the logo images work even when none are present in the site config
  design/ui/src/assets/celus-plus-dark.svg
  design/ui/src/pages/Main.vue
  design/ui/src/pages/StandardLayout.vue
  design/ui/src/store/modules/site-config.js
Due: none

add forgotten images
  design/ui/src/assets/celus-one-v1-dark.svg
  design/ui/src/assets/celus-one-v3-dark.svg
Due: none

allow blank value for several fields on the organization model
  apps/organizations/migrations/0016_more_blank_fields.py
  apps/organizations/models.py
Due: black

give feedback on resend of verification email
  design/ui/src/pages/UserPage.vue
Due: none

fix text formatting in wizard
  design/ui/src/components/help/FirstSushiHelpWidget.vue
Due: none

disable heatmap for celus.one
  design/ui/src/pages/SidePanel.vue
  design/ui/src/store/modules/maintenance.js
Due: none

Finalize the sushi wizard Export SUSHI credentials count from the backend and use it to decide if to show wizard to first time users
  apps/sushi/views.py
  design/ui/src/assets/sushi_credentials-enable.png
  design/ui/src/assets/sushi_credentials-save-and-test-btn.png
  design/ui/src/assets/sushi_credentials-test.png
  design/ui/src/assets/sushi_credentials.png
  design/ui/src/components/help/FirstSushiHelpWidget.vue
  design/ui/src/pages/DashboardPage.vue
  design/ui/src/pages/StandardLayout.vue
  design/ui/src/store/index.js
  design/ui/src/store/modules/maintenance.js
Due: black

use text instead of image in wizard
  design/ui/src/components/help/FirstSushiHelpWidget.vue
Due: none

change site-related images model to use FileField to allow upload of SVG files (ImageField does not support them)
  apps/deployment/admin.py
  apps/deployment/migrations/0002_image_as_filefield.py
  apps/deployment/models.py
  design/ui/src/pages/StandardLayout.vue
Due: black

update settings for one; hack the import task to also start interest and materialized view sync
  apps/sushi/tasks.py
Due: black

WIP: preliminary work on first sushi credentials wizard
  design/ui/src/components/help/FirstSushiHelpWidget.vue
  design/ui/src/pages/IntroPage.vue
  design/ui/src/pages/StandardLayout.vue
  design/ui/src/router/index.js
  design/ui/src/store/index.js
Due: none

fix rebasing artifact
  design/ui/src/store/index.js
Due: none

make mailgun completely configurable using env file
  config/settings/base.py
Due: black

make MEDIA_ROOT env configurable
  config/settings/base.py
Due: black

add comment to code that should be removed one day
  apps/sushi/tasks.py
Due: black

fix permission for deployment overview API endpoint; fix tests requiring existing Site instance; add new favicon
  apps/core/tests/conftest.py
  apps/core/tests/test_api.py
  apps/deployment/tests/__init__.py
  apps/deployment/tests/test_api.py
  apps/deployment/urls.py
  apps/deployment/views.py
  config/settings/base.py
  design/ui/public/favicon.ico
Due: black

add favicon to statics
  apps/core/static/favicon.png
Due: none

only create the Site object once in fixture
  apps/core/tests/conftest.py
Due: black

another fix of the site
  apps/core/tests/conftest.py
Due: black

avoid importing whole of lodash
  design/ui/src/store/index.js
Due: none

update js; small changes for the new vuetify release
  design/ui/package-lock.json
  design/ui/package.json
  design/ui/src/pages/ManagementPage.vue
  design/ui/src/pages/StandardLayout.vue
Due: none

lazy load routes in vue
  design/ui/src/router/index.js
Due: none

update lodash
  design/ui/package-lock.json
  design/ui/package.json
Due: none
